{% autoescape off %}
Hi {{ user.username }},

There was a request to change your password!

If you did not make this request then please ignore this email.

Otherwise, to initiate the password reset process for your account {{ user.email }},
click the link below:
{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}

If clicking the link above doesn't work, please copy and paste the URL in a new browser window instead.

Sincerely,
TPS Dev Team
{% endautoescape %}