{% extends "tasks/base.html" %}

{% block content %}
    <div class="row" style="margin-top: 50px">
        <form action="{% url 'tasks:add_the_milestone' course.id %}" method="post">
            {% csrf_token %}
            <div class="form-group">
                <label for="milestone-name">Course:</label>
                <input type="text" class="form-control" name="course" value="{{ course.name }}" disabled>
            </div>
            <div class="form-group">
                <label for="milestone-name">Milestone Name:</label>
                <input type="text" class="form-control" name="milestone-name">
            </div>
            <div class="form-group" >
                <label for="description">Description:</label>
                <br>
                <textarea name="description" rows="4" cols="50"></textarea>
            </div>
            <div class="form-group" >
                <label for="weight">Weight:</label>
                <input type="number" class="form-control" name="weight">
            </div>
            <div class="form-group" >
                <label for="due-date">Due Date:</label>
                <input type="date" class="form-control" name="due-date">
            </div>
            <button type="submit" class="btn btn-primary">Create a Milestone</button>
        </form>
    </div>

    <div class="row alert-messages">
        {% for message in messages %}
            <div class="alert alert-danger">
                <a class="close" href="#" data-dismiss="alert">&nbsp;×</a>
                {{ message }}
            </div>
        {% endfor %}
    </div>
{% endblock %}