<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    {% load tags %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400&amp;subset=latin-ext" rel="stylesheet">
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.11.0/themes/smoothness/jquery-ui.css">
    <link rel="stylesheet" href="{% static 'tasks/fontawesome/css/all.min.css' %}">
    <link rel="stylesheet" href="{% static 'tasks/style.css' %}">
    <title>TPS - {{ page_title }} </title>
    <script>
      function ensure(d) {
        return confirm("Are you sure you want to " + d + "?")
      }
    </script>
</head>

<body>
    <nav id="sidebar">
        <ul>
        {% if is_developer %}
            <li id="brand-item"><a href="{% url 'tasks:profile' %}" class="brand-link"><img src="{% static 'tasks/tps_logo.png' %}" alt="TPS" id="tps-logo"></a></li>
            <hr>
            <li><a href="{% url 'tasks:profile' %}"><i class="fas fa-user fa-2x"></i><span id="sidebar-user">{% developer_name request %}</span></a></li>
            <li><a href="{% url 'tasks:notifications' %}"><i class="fas fa-bell fa-2x"></i><span id="sidebar-notifications">Notifications {% notification_count request %}</span></a></li>
            <li><a href="{% url 'tasks:teams' %}"><i class="fas fa-user-friends fa-2x"></i><span id="sidebar-teams">Teams</span></a></li>
            <li><a href="{% url 'tasks:calendar' %}"><i class="fas fa-calendar-alt fa-2x"></i><span id="sidebar-calendar">Calendar</span></a></li>
        {% else %}
            <li id="brand-item"><a href="{% url 'tasks:supervisor-home' %}" class="brand-link"><img src="{% static 'tasks/tps_logo.png' %}" alt="TPS" id="tps-logo"></a></li>
            <hr>
            <li><a href="{% url 'tasks:notifications' %}"><i class="fas fa-bell fa-2x"></i><span id="sidebar-notifications">Notifications</span></a></li>
            <li><a href="{% url 'tasks:supervisor-view-teams' %}"><i class="fas fa-user-friends fa-2x"></i><span id="sidebar-teams">Teams</span></a></li>
            <li><a href="{% url 'tasks:calendar' %}"><i class="fas fa-calendar-alt fa-2x"></i><span id="sidebar-calendar">Calendar</span></a></li>
            <li><a href="{% url 'tasks:data-analytics' %}"><i class="far fa-chart-bar fa-2x"></i><span id="sidebar-data-analytics">Data Analytics</span></a></li>
            <li><a href="{% url 'tasks:point_pool' %}"><i class="fas fa-list-ol fa-2x"></i><span id="sidebar-point-pool">Point Pool</span></a></li>
            <li><a href="{% url 'tasks:courses' %}"><i class="fas fa-book fa-2x"></i><span id="sidebar-courses">Courses</span></a></li>
        {% endif %}
            <li><a href="{% url 'tasks:leave' %}" id="bottom-sign-out"><i class="fas fa-sign-out-alt fa-2x"></i><span id="sidebar-sign-out">Sign Out</span></a></li>
        </ul>
    </nav>
    <div class="container main-screen">
        <nav class="navbar navbar-expand-lg sidebar-toggle sticky">
          <div class="container-fluid">
            <button type="button" id="sidebar-collapse" class="btn btn-dark">
              <i class="fas fa-bars"></i>
            </button>
          </div>
        </nav>
        {% block content %}{% endblock %}
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    <script src="{% static 'tasks/scripts.js' %}"></script>
    <script src="{% static 'js/jquery.bootstrap.modal.forms.min.js' %}"></script>

    {% block scriptcontent %}{% endblock %}
</body>
</html>
