{% extends "tasks/base.html" %}

{% block content %}

<div class="row">
    <div class="col-sm-12 user-feed" style="display:flex; justify-content: center; margin-top: 15px">
        <h2>Import Students</h2>
    </div>
</div>
<hr/>
<div class="row">
    <div class="col-sm-7">
        <form action="{% url 'tasks:import-preview' %}" method="post" enctype="multipart/form-data" >
            <div class="row">
                <div class="col-sm-6">
                    {% csrf_token %}
                    <table>{{ form }}</table>
                </div>
                <div class="col-sm-6 float-right">
                    <input type="submit" class="btn btn-info" value="Randomize & Preview">
                </div>
            </div>
        </form>
        {% for course, teams in course_dict.items %}
            <div class="team-accordion">
                {% for team, team_members in teams.items %}
                    <button class="accordion">{{team}}</button>
                    <ul>
                    {% for student_no, student_data in team_members.items %}
                        <div class="panel">
                             <a style="text-decoration: none; color: #1A1A1A">
                                <li>
                                    <p class="task-date"><span class="bold-span">Name: {{student_data.first_name}} {{student_data.last_name}} </span></p>
                                    <div class="task-header">
                                        <h4></h4>
                                        <p><span class="bold-span">School ID: {{student_no}} </span></p>
                                    </div>
                                    <hr class="content-separator">
                                    <div class="task-content">
                                        <p class="content-text"></p>
                                    </div>
                                </li>
                             </a>
                        </div>
                    {% endfor %}
                    </ul>
                {% endfor %}
            </div>
        {% endfor %}
    </div>
    <div class="col-sm-5">
        <h3>Compatibility:</h3>
            <hr />
            <p>
              You may only use the course list file (<b>.xls</b> extension with <b>html</b> content) provided by Oasis.
            </p>
            <p>
            {{milestone.description|linebreaksbr}}
            </p>

            <h3>Information</h3>
            <hr />
            <p>For the input team size <b>n</b>, teams of sizes <b>n</b> and <b>(n-1)</b> will be randomly formed.
                You will be able to preview the resulting teams before finalizing and creating them.</p>
            <h4>Some example formations:</h4>
            <p><b>(1)</b> Student in the list: <b>14</b>, Team size: <b>5</b></p>
            <p> <b>Teams: 5, 5, 4</b></p>
            <p><b>(2)</b> Student in the list: <b>9</b>, Team size: <b>4</b></p>
            <p> <b>Teams: 3, 3, 3</b></p>
            <p><b>(3)</b> Student in the list: <b>9</b>, Team size: <b>5</b></p>
            <p> <b>Teams: 5, 4</b></p>
    </div>
</div>
{% if course_dict %}
<button  id="post_teams" class="btn btn-success" type="button">Process & Create</button>
{% endif %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
<script type="text/javascript">
$(function() {
    if ('{{ course }}' !== 'None') {
        jsonCourse = JSON.parse('{{ course | escapejs }}');
        $("#post_teams").click(
            function(){
                $.ajax({
                url: "{% url 'tasks:course-import' %}",
                method: "POST",
                headers: {'X-CSRFToken': '{{ csrf_token }}'},
                data: JSON.stringify(jsonCourse),
                contentType: 'application/json; charset=utf-8',
                })
            }
        );
    }
});

</script>
{% endblock %}