{% extends "tasks/base.html" %}
{% load mathfilters %}
{% load static %}

{% block content %}

    <div class="row">
        <div class="col-sm-6">
            {% if difficulty_and_priority == '1_1' %}
                {% with 'tasks/gaussian_plots/'|add:course_id|add:'/easy_low_figure.png' as imagePath %}
                    <img src="{% static imagePath %}">
                {% endwith %}
            {% elif difficulty_and_priority == '1_2'%}
                {% with 'tasks/gaussian_plots/'|add:course_id|add:'/easy_planned_figure.png' as imagePath %}
                    <img src="{% static imagePath %}">
                {% endwith %}
            {% elif difficulty_and_priority == '1_3'%}
                {% with 'tasks/gaussian_plots/'|add:course_id|add:'/easy_urgent_figure.png' as imagePath %}
                    <img src="{% static imagePath %}">
                {% endwith %}
            {% elif difficulty_and_priority == '2_1'%}
                {% with 'tasks/gaussian_plots/'|add:course_id|add:'/normal_low_figure.png' as imagePath %}
                    <img src="{% static imagePath %}">
                {% endwith %}
            {% elif difficulty_and_priority == '2_2'%}
                {% with 'tasks/gaussian_plots/'|add:course_id|add:'/normal_planned_figure.png' as imagePath %}
                    <img src="{% static imagePath %}">
                {% endwith %}
            {% elif difficulty_and_priority == '2_3'%}
                {% with 'tasks/gaussian_plots/'|add:course_id|add:'/normal_urgent_figure.png' as imagePath %}
                    <img src="{% static imagePath %}">
                {% endwith %}
            {% elif difficulty_and_priority == '3_1'%}
                {% with 'tasks/gaussian_plots/'|add:course_id|add:'/difficult_low_figure.png' as imagePath %}
                    <img src="{% static imagePath %}">
                {% endwith %}
            {% elif difficulty_and_priority == '3_2'%}
                {% with 'tasks/gaussian_plots/'|add:course_id|add:'/difficult_planned_figure.png' as imagePath %}
                    <img src="{% static imagePath %}">
                {% endwith %}
            {% elif difficulty_and_priority == '3_3'%}
                {% with 'tasks/gaussian_plots/'|add:course_id|add:'/difficult_urgent_figure.png' as imagePath %}
                    <img src="{% static imagePath %}">
                {% endwith %}
            {% endif %}
            <table class="task-info-table">
                <tr><td>Average Task Completion : {{ average_completion_time }} hours </td></tr>
                <tr><td>Maximum Completion Time : {{ max }} hours</td></tr>
                <tr><td>Minimum Completion Time : {{ min }} hours</td></tr>
                <tr><td>Total task : {{ task_list|length }}</td></tr>
            </table>
            <div>
                <form action="{% url 'tasks:set_point_pool_interval' course_id %}" method="post">
                    {% csrf_token %}
                    <label for="lower">Lower Bound: </label>
                    <input type="number" name="lower_bound" value="{{ lower_bound }}">
                    <label for="upper">Upper Bound: </label>
                    <input type="number" name="upper_bound" value="{{ upper_bound }}">
                    <input name="difficulty_and_priority" style="display: none" value={{ difficulty_and_priority }}>
                    <button type="submit" class="btn btn-success">Submit</button>
                </form>
            </div>
        </div>

        <div class="col-sm-6 user-feed">
            {% if task_list %}
                <div style="margin-top: 50px; overflow: auto; padding-right: 20px">
                    <ul>
                        {% for task in task_list %}
                            <a href="{% url 'tasks:view-task' task.id %}" role="button" style="text-decoration: none; color: #1A1A1A">
                                <li>
                                    <p class="task-date-supervisor"><span class="bold-span">Completed On: </span>{{ task.completed_on }}</p>
                                    <div class="task-header">
                                        <h4>{{ task.title }}</h4>
                                        <p><span class="bold-span">Assignee: </span>{{ task.assignee }}</p>
                                    </div>
                                    <p class="task-date-supervisor" style="margin-top: -40px"><span class="bold-span">Duration: </span>{{ task.completed_on|sub:task.created_on }}</p>
                                    <hr class="content-separator">
                                    <div>
                                        <p><span class="bold-span">Course: </span>{{ task.team.course }}</p>
                                        <p style="margin-top: -15px"><span class="bold-span">Team: </span>{{ task.team }}</p>
                                    </div>

                                </li>

                            </a>
                        {% endfor %}
                    </ul>
                </div>
            {% else %}
                <p>There are no such tasks finished with these parameters.</p>
            {% endif %}
        </div>
    </div>

{% endblock %}