{% extends "tasks/base.html" %}
{% load static %}

{% block content %}

    <div class="row" style="justify-content: center; align-items: center; margin-top: 125px">
        {% for course in courses %}
            <div class="col-sm-2 user-feed">
                <a href="{% url 'tasks:course_data_analytics' course.course %}" role="button" style="text-decoration: none; color: #1A1A1A">
                    <ul>
                        <li>
                            <p class="teams-course"><span class="bold-span">Course: </span>{{ course.course__name }}</p>
                            <div class="teams-name">
                                <h4>{{ team.name }}</h4>
                                <p><span class="bold-span">Number of Students: </span>{{ course.course__number_of_students }}</p>
                            </div>
                        </li>
                    </ul>
                </a>
            </div>
        {% endfor %}
    </div>

{% endblock %}