{% extends "tasks/base.html" %}

{% block content %}

    <div class="row">
        <div class="col-sm-6 user-feed" style="padding: 30px 100px 0 10px">
            <h3>{{page_title}}</h3>

            <hr />
                {% if is_edit %}
                    <form action="{% url 'tasks:task-edit-developer' task_id %}" method="post">
                {% else %}
                    <form action="{% url 'tasks:task-create-developer' %}" method="post">
                {% endif %}
              <table>
                {% csrf_token %}
                {{ form }}
                <tr>
                  <td>&nbsp;</td>
                  <td style="text-align: right;">
                    <input type="submit" value="Submit" class="btn btn-success" id="send" />
                    <a href="{% url 'tasks:choose' %}" class="btn btn-default btn-danger" role="button">Cancel</a>
                  </td>
                </tr>
              </table>
            </form>
        </div>

        <div class="col-sm-6 user-feed" style="padding: 30px 0 0 20px">
            <h3>Milestone: {{milestone.name}}</h3>
            <hr />
            <p>
              Due date: {{milestone.due}}<br />
              Weight: {{milestone.weight}}/100
            </p>
            <p>
            {{milestone.description|linebreaksbr}}
            </p>

            <h3>Information</h3>
            <hr />
            <p>Every task can be set to a single developer only. Once you create the task,
              someone in your team must approve it. You cannot approve a task you have created.</p>
            <p>The description should be written in detail, otherwise it would not be possible for your
              fellow developers to understand what the task is about.</p>
            <p> Once the form is filled, you cannot change it, so be careful about the due date. </p>
        </div>
    </div>
{% endblock %}

{% block scriptcontent %}
<script>
  $(document).ready(function() {
      $('.datepicker').datepicker();
  });
  $("input, select, textarea").addClass("form-control");
  $("#send").removeClass("form-control");
  $("td").css("padding", "4px");
</script>
{% endblock %}
