{% extends "tasks/base.html" %}

{% block content %}
    <div class="col-sm-5 user-feed">
            {% if accepted_tasks %}
                <h3>{{ developer_name }}'s Accepted Tasks</h3>
                <ul>
                    {% for task in accepted_tasks %}
                        <a href="{% url 'tasks:view-task' task.id %}" role="button" style="text-decoration: none; color: #1A1A1A">
                            <li>
                                <p class="task-date"><span class="bold-span">Due: </span>{{ task.due }}</p>
                                <div class="task-header">
                                    <h4>{{ task.title }}</h4>
                                    <p><span class="bold-span">Course: </span>{{ task.team.course }}</p>
                                    <p><span class="bold-span">Status: </span>{{ task.get_status_display }}</p>
                                </div>
                                <hr class="content-separator">
                                <div class="task-content">
                                    <p class="content-text">{{ task.description }}</p>
                                </div>
                            </li>
                        </a>
                    {% endfor %}
                </ul>
            {% else %}
                <p>No accepted task exists.</p>
            {% endif %}
        </div>

        <div class="col-sm-5 user-feed">
            {% if rejected_tasks %}
                <h3>{{ developer_name }}'s Rejected Tasks</h3>
                <ul>
                    {% for task in rejected_tasks %}
                        <a href="{% url 'tasks:view-task' task.id %}" role="button" style="text-decoration: none; color: #1A1A1A">
                            <li>
                                <p class="task-date"><span class="bold-span">Due: </span>{{ task.due }}</p>
                                <div class="task-header">
                                    <h4>{{ task.title }}</h4>
                                    <p><span class="bold-span">Course: </span>{{ task.team.course }}</p>
                                    <p><span class="bold-span">Status: </span>{{ task.get_status_display }}</p>
                                </div>
                                <hr class="content-separator">
                                <div class="task-content">
                                    <p class="content-text">{{ task.description }}</p>
                                </div>
                            </li>
                        </a>
                    {% endfor %}
                </ul>
            {% else %}
                <h3>No rejected task exists.</h3>
            {% endif %}
        </div>

    <div class="col-sm-5 user-feed">
            {% if votes %}
                <h3>{{ developer_name }}'s Votes</h3>
                <ul>
                    {% for vote in votes %}
                        <a style="text-decoration: none; color: #1A1A1A">
                            <li>
                                <p class="task-date"><span class="bold-span">Due: </span>{{ vote.date }}</p>
                                <div class="task-header">
                                    <h4>{{ task.title }}</h4>
                                    <p><span class="bold-span">Vote Type: </span>{{ vote.vote_type }}</p>
                                    <p><span class="bold-span">task: </span>{{ vote.task }}</p>
                                </div>
                                <hr class="content-separator">
                                <div class="task-content">
                                    <p class="content-text"></p>
                                </div>
                            </li>
                        </a>
                    {% endfor %}
                </ul>
            {% else %}
                <h3>No rejected task exists.</h3>
            {% endif %}
        </div>

        <div class="col-sm-5 user-feed">
            {% if comments %}
                <h3>{{ developer_name }}'s Votes</h3>
                <ul>
                    {% for comment in comments %}
                        <a style="text-decoration: none; color: #1A1A1A">
                            <li>
                                <p class="task-date"><span class="bold-span">Due: </span>{{ comment.date }}</p>
                                <div class="task-header">
                                    <h4>{{ task.title }}</h4>
                                    <p><span class="bold-span">Owner: </span>{{ comment.owner }}</p>
                                    <p><span class="bold-span">task: </span>{{ comment.task }}</p>
                                </div>
                                <hr class="content-separator">
                                <div class="task-content">
                                    <p class="content-text"></p>
                                </div>
                            </li>
                        </a>
                    {% endfor %}
                </ul>
            {% else %}
                <h3>No comment was made by {{ developer_name }}</h3>
            {% endif %}
        </div>
{% endblock %}