{% extends "tasks/base.html" %} {% load static %} {% block alert %} 
    {% if not user.email%}
        <div class="alert alert-danger" role="alert">
            <p>You haven't entered an email for your account.
                Please enter an email by clicking
                <a href="{% url 'email'%}">here</a>
            </p>
        </div>
    {% endif %}
{% endblock %}

{% block left_content %}

<div style="width: 200px; margin-bottom: 20px; margin-top: 10px;">
    <select style="border-radius: 12px;" onchange="window.location.href=this.value">
        {% for t in teams %}
            {% if t.pk == team.pk and t.course.get_current_milestone is not None %}            
                <option selected value="{% url 'team_view' t.pk %}"> 
                    {{t.course.masterCourse.code }} / {{t}}
                </option> 
            {% elif t.course.get_current_milestone is not None %}
                <option value="{% url 'team_view' t.pk %}"> 
                    {{t.course.masterCourse.code }} / {{t}}
                </option> 
            {% else %}
                <option value="{% url 'team_view' t.pk %}" disabled> 
                    {{t.course.masterCourse.code }} / {{t}}
                </option> 
            {% endif %} 
        {% endfor %}
    </select>
</div>
<p><i class="bi bi-github"></i> <a href="{{ team.github }}">Visit Team Git Repository</a></p>
<p><i class="bi bi-pencil-square"></i> <a href="{% url "edit_team" team.pk %}">Edit Team Information</a></p>
<hr>
<h5>Team Points</h5>

<p>
{% for key, value in team.get_milestone_list.items %}
{{ key }}: {{ value }} Points<br />
{% endfor %}
</p>

<h5>Developer Points</h5>
<p>
<ul>
{% for dev, value in developers.items %}
    <li>{{ dev }}
        <ul>
        <li>Overall Project: {{ value.0 }} Points</li>
        {% for k, v in value.1.items %}
            <li>{{ k }}: {{ v }} Points</li>
        {% endfor %}
        </ul>
    </li>
{% endfor %}
</ul>
</p>
{% endblock %}

{% block main_content %}
<div class="row">
    <div class="col-sm">
        <h4>Tasks</h4>
    </div>
    <div class="col-sm" style="text-align: right;">
        <a href="{% url 'create_task' team.pk %}"><button class="btn btn-primary">Create Task</button></a>
    </div>
</div>
<hr>
<div>
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th scope="col">Owner</th>
                <th scope="col">Title</th>
                <th scope="col">Milestone</th>
                <th scope="col">Status</th>
            </tr>
        </thead>
        <tbody>
        {% for mtask in tasks %}
            <tr>
                <td>{{mtask.owner}}</td>
                <td><a href="{% url 'view_task' mtask.pk %}">{{mtask}}</a></td>
                <td>{{mtask.milestone}}</td>
                <td class="{% if mtask.status == 1 %}
                    table-warning 
                {% elif mtask.status == 2 %}
                    table-primary
                {% elif mtask.status == 3 %}
                    table-info
                {% elif mtask.status == 4 %}
                    table-danger
                {% elif mtask.status == 5 %}
                    table-success
                {%endif%}">{{mtask.getStatus}}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>




{% endblock%}

{% block right_content %}
<h4>Project Information</h4><hr>
<h5>Current Milestone: {{ milestone }}</h5>
<p>{{milestone.description|linebreaksbr}}</p>
<p>Due: {{milestone.due}}</p>
<p>Weight: {{milestone.weight}}</p>
{% endblock %}