{% extends "tasks/base.html" %}
{% load static %}


{% block breadcrumbs %}
<a href="/">Home</a> &gt; 
<a href="{% url 'lecturer_view_course' course.id %}">{{ course }}</a> &gt;
Task: {{mastertask}}
{% endblock %}

{% block main_left_content %}
<div class="card">
    <div class="card-header"><i class="bi bi-list-task"></i> {{mastertask}}</div>
    <div class="card-body">
        <h6 class="card-subtitle mb-2 text-muted"><i class="bi bi-person-check"></i> Assigned to {{mastertask.owner}}</h6>
        <h6 class="card-subtitle mb-2 text-muted"><i class="bi bi-calendar-check"></i> Due {{ task.promised_date }}</h6>
        <p class="card-text">{{task.description|linebreaksbr}}</p>
    </div>
    <div class="card-footer text-muted">
    Status: {{ mastertask.getStatus }}, Priority: {{ task.getPriority }},
    Difficulty: {{ mastertask.getDifficulty }}, Points: {{ tp }}
    <hr>
    Version <i class="bi bi-git"></i> {{ task.version }}, Votes: <i class="bi bi-check-square"></i> {{ v_app }}, <i class="bi bi-x-square"></i> {{ v_den }}
    </div>
</div>

<p>&nbsp;</p>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Date</th>
      <th scope="col">Task Status</th>
      <th scope="col">Log Message</th>
    </tr>
  </thead>
  <tbody>
  {% load tz %}

  {% for log in logs %}
    <tr>
      <td>{{log.tarih|localtime}}</td>
      <td>{{log.taskstatus}}</td>
      <td>{{log.log}}</td>
    </tr>
{% endfor %}
  </tbody>
</table>

{% endblock %}

{% block main_right_content %}

<h4>Comments</h4>
<form action="{% url 'lecturer_view_task' mastertask.pk %}" method='post'>
{% csrf_token %}
<table width="100%">
{{ form }}
    <tr>
        <td>&nbsp;</td>
        <td>
            <button class="btn btn-primary" type="submit" name="approve" value="C"><i class="bi bi-chat-right"></i> Comment</button>
        </td>
    </tr>
</table>
</form>

<hr>
{% for comment in comments %}
    <div class="card" style="margin-bottom: 10px;">
        <div class="card-header{% if comment.approved %} bg-success text-white{% elif comment.approved == False %} bg-danger text-white{% endif %}">
            <i class="bi bi-chat-right"></i> {{ comment.owner.get_full_name }} 
            {% if comment.approved %} approves.{% elif comment.approved == False %} requests changes.{% endif %}
        </div>
        <div class="card-body">
            <p class="card-text">{{comment.body|linebreaksbr}}</p>
            {% if comment.file_url %}
                <a href="{{comment.file_url}}">{{comment.file_url}}</a>
            {% endif %}
        </div>
        <div class="card-footer text-muted"><i class="bi bi-calendar"></i> {{comment.date}}</div>
    </div>
{% endfor %}

{% endblock%}