{% extends "tasks/login_base.html" %}

{% load static %}

{% block content %}

    <div class="row">
        <div class="col-sm-4"></div>
        <div class="col-sm-4 login-logo-container">
            <div class="tps-logo">
                <p><img src="{% static 'tasks/tps_logo_login.png' %}" /></p>
            </div>
        </div>
    </div>

    <div class="formDiv">
        <div class="row">
            <div class="col-sm-4">
                <a href="{% url 'tasks:password_reset'%}"></a>
            </div>
            <div class="col-sm-4">
                <form action="{% url 'tasks:login' %}" method="post">
                      {% csrf_token %}
                      <div class="form-group login-input-field">
                        <label for="oasis">Login:</label>
                        <input type="text" class="form-control" name="oasis">
                      </div>
                      <div class="form-group" >
                        <label for="pwd">Password:</label>
                        <input type="password" class="form-control" name="pass">
                      </div>
                        <button type="submit" class="btn">Login</button>

                </form>
                <a href="{% url 'tasks:password_reset' %}">Reset Password</a>
            </div>
        </div>
    </div>
    <div>

    </div>
    <div class="tps-text">
        <div class="row">
            <div class="col-sm-3"></div>
            <div class="col-sm-7 version-text">
                <h3>Task Point System (v0.3.20190926)</h3>

                <p>This is the web application for the (TPS) used for
                better execution of team projects.</p>

                <p>Please contact Kaya Oguz (kaya.oguz (a) ieu.edu.tr) if you are
                experiencing problems logging in.</p>

                <p style="color: red;"> {{ login_error }}</p>
            </div>
        </div>
    </div>


{% endblock %}
