{% extends "tasks/base.html" %}
{% load tags %}
{% block content %}
    <div class="row">
        <div class="col-sm-4">
            <div class="row" style="margin-top: 50px">
                <form action="{% url 'tasks:edit_milestone' course.id milestone.id %}" method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="course-name">Course:</label>
                        <br>
                        <select id="selectCourse" class="form-control" name="course-name" value="{{ course }}">
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="milestone-name">Milestone Name:</label>
                        <input type="text" class="form-control" name="milestone-name" value="{{ milestone.name }}">
                    </div>
                    <div class="form-group" >
                        <label for="description">Description:</label>
                        <br>
                        <textarea name="description" class="form-control" rows="4" cols="50">{{ milestone.description }}</textarea>
                    </div>
                    <div class="form-group" >
                        <label for="weight">Weight:</label>
                        <input type="number" class="form-control" name="weight" value="{{ milestone.weight }}">
                    </div>
                    <div class="form-group" >
                        <label for="due-date">Due Date:</label>
                        <input type="date"  class="form-control" name="due-date" value="{{ due_date }}">
                    </div>
                    <button type="submit" class="btn btn-primary">Submit Changes</button>
                </form>
            </div>
        </div>
    </div>

    <div class="row alert-messages">
        {% for message in messages %}
            <div class="alert alert-danger">
                <a class="close" href="#" data-dismiss="alert">&nbsp;×</a>
                {{ message }}
            </div>
        {% endfor %}
    </div>
{% endblock %}
{% block scriptcontent %}
    <script>
        var select = document.getElementById("selectCourse");
        {% for course in course_list %}
            var opt = "{{course}}";
            var el = document.createElement("option");
            el.textContent = opt;
            el.value = opt;
            select.appendChild(el);
            if(opt === "{{ milestone.course }}"){
                console.log("HERE");
                select.value = opt;
            }
        {% endfor %}
    </script>
{% endblock %}