{% extends "tasks/profile.html" %}
{% load static %}

{% block main_content %}
<div class="card">
  <div class="card-header">
    <h2 class="h5 mb-0">My Details</h2>
  </div>
  <div class="card-body">
    <dl class="row mb-0">
      <dt class="col-sm-4">Name</dt>
      <dd class="col-sm-8">{{ user.first_name }}</dd>
      <dt class="col-sm-4">Surname</dt>
      <dd class="col-sm-8">{{ user.last_name }}</dd>
      <dt class="col-sm-4">School ID</dt>
      <dd class="col-sm-8">{{ user.username }}</dd>
      <dt class="col-sm-4">Email</dt>
      <dd class="col-sm-8">{{ user.email|default:'-' }}</dd>
    </dl>
  </div>
</div>

<div class="card mt-3">
  <div class="card-header">
    <h2 class="h5 mb-0">Profile Photo URL</h2>
  </div>
  <div class="card-body">
    <form action="{% url 'my_details' %}" method="post" class="tps-form-grid">
      {% csrf_token %}
      {{ form.as_p }}
      <div class="form-actions">
        <button class="btn btn-primary" type="submit">Save</button>
      </div>
    </form>
  </div>
</div>
{% endblock %}
