{% extends "tasks/profile.html" %} {% load static %} {% block main_content %}
<style>
  .column {
    float: left;
    width: 50%;
    margin-top: 10px;
  }

  /* Clear floats after the columns */
  .row:after {
    display: table;
    clear: both;
  }
  .line {
    margin-bottom: 15px;
    font-weight: 500;
    font-size: 18px;
  }
</style>

<div>
  <h4 style="font-weight: 600; font-size: 22px; font-style: italic;">INFORMATION </h4><hr/>
    <div class="row">
      <div class="column line"><span style="font-weight: bold;">Name:</span> {{ user.first_name }} </div>
    </div>
    <div class="row">
      <div class="column line"><span style="font-weight: bold;">Surname:</span> {{ user.last_name }} </div>
    </div>
    <div class="row">
      <div class="column line"><span style="font-weight: bold;">School ID:</span> {{ user.username}} </div>
    </div>

    <div class="line" style="margin-top: 10px;"><span style="font-weight: bold;">E-mail:</span> {{ user.email }}</div>

    
  </div>
  </div>

<script defer>
    document.getElementById('my_details').className = 'selected'
</script>
{%endblock %}
