<!DOCTYPE html>
<html lang="en">
  <head>
    {% load static %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400&amp;subset=latin-ext" rel="stylesheet">
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.11.0/themes/smoothness/jquery-ui.css">
    <link rel="stylesheet" href="{% static 'tasks/style.css' %}">
    <title>TPS - {{ page_title }} </title>
    <script>
      function ensure(d) {
        return confirm("Are you sure you want to " + d + "?")
      }
    </script>
  </head>

  <body>
    <nav class="navbar navbar-default navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="{% url 'tasks:choose' %}">Task Point System</a>
        </div>
        <div id="navbar">
          <ul class="nav navbar-nav">
            <li><a href="{% static 'tasks/task_point_system.pdf' %}">Help File</a></li>
              <li> <a href="http://localhost:8000/admin/login/?next=/admin/" >Admin Panel</a></li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container">
      <div class="row">
          {% block content %}{% endblock %}
      </div>

      <div class="row login-trademark">
        Task Point System, Kaya Oğuz, &copy; 2017-2019
      </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="../../static/tasks/scripts.js"></script>
    <script src="{% static 'tasks/scripts.js' %}"></script>

    {% block scriptcontent %}{% endblock %}
    </body>
</html>