{% extends "tasks/base.html" %}
{% load tags %}
{% load static %}

{% block content %}
    <div class="row">
        <div class="col-sm-4" style="margin-left: 100px">
        {% for key,course_items in course_list.items %}
            <div class="row">
                <div class="col-sm-6 user-feed">
                    <div class="data-analytics">
                        <img src="https://ultra.content.blackboardcdn.com/ultra/static/images/default-banners/nature4_thumb.jpg" alt="foto">
                        <div class="teams-name">
                            <button id="course-button-{{ course_items.course }}" class="course-button" onclick='team_closer("{{ course_items.course }}")'><span class="bold-span">Course: </span>{{ course_items.course }}</button>
                        </div>
                    </div>
                        <div id="team-drop-down-{{ course_items.course }}">
                            {% for key, team in course_items.teams.items %}
                                 {% for key, team_items in team.items %}
                                     {% if key == 'team' %}
                                         <button id="team-{{ team_items }}" onclick='team_closer("{{ team_items }}")' class="accordion"> {{ team_items }} </button>
                                     {% endif %}
                                     {% if key == 'team_members' %}
                                        <div id="dev-team-{{ forloop.counter0 }}">
                                        {% for developer in team_items %}
                                            <div class="col-sm-6 user-feed">
                                            <ul>
                                                <a href="{% url 'tasks:developer_point_pool_activities' course_items.course_name developer.id  %}" role="button" style="text-decoration: none; color: #1A1A1A">
                                                    <li>
                                                        <div class="task-header">
                                                            <p>{{ developer }}</p>
                                                        </div>
                                                    </li>
                                                </a>
                                            </ul>
                                            </div>
                                        {% endfor %}
                                        </div>
                                     {% endif %}
                                {% endfor %}
                            {% endfor %}
                        </div>
                </div>
            </div>
        {% endfor %}
        </div>
    </div>
{% endblock %}
{% block scriptcontent %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        function team_closer(course) {
            $("#team-drop-down-" + course).slideToggle();
        }
    </script>

    <script>
        function mate_closer(team) {
            $("#dev-team-" + team).slideToggle();
        }
    </script>

    <script>
    $(function (){
        const tobeRemoved$ = $(".to-be-removed")
        const buttonChilds = tobeRemoved$.children();
        tobeRemoved$.hide(0);
        for (let i=0;i<buttonChilds.length;i++){

            $(".button-div-" + i).append(buttonChilds[i]);
        }
    })
    </script>
{% endblock %}