<div class="input-group mg-b-10 mg-t-10 pd-l-10 pd-r-10">
    <label for="task-search"></label>
    <input class="form-control border-end-0 border rounded-pill" type="text" placeholder="{{ placeholder }}" id="task-search">
</div>

<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
<script>
    const taskSearch$ = $('#task-search');
    const taskSearchFields = '{{ search_fields }}'.toLowerCase();
    const shouldSearchAssignee = taskSearchFields.includes('assignee');
    const shouldSearchCreator = taskSearchFields.includes('creator');
    const shouldSearchTitle = taskSearchFields.includes('title');
    const shouldSearchStatus = taskSearchFields.includes('status');
    const shouldSearchCourse = taskSearchFields.includes('course');

    taskSearch$.val("");
    taskSearch$.on('input keyup', function () {
        const $this = $(this);
        const delay = 600; // 0.6 seconds delay after last input
        let taskTitle;
        let taskCreator;
        let taskAssignee;
        let taskStatus;
        let taskCourse;
        let taskId;
        let searchString;

        clearTimeout($this.data('timer'));
        $this.data('timer', setTimeout(function(){
            $this.removeData('timer');

            {% for task in first_task_list %}
                taskTitle = '{{ task.title }}'.toLowerCase();
                taskCreator = '{{ task.creator }}'.toLowerCase();
                taskAssignee = '{{ task.assignee }}'.toLowerCase();
                taskStatus = '{{ task.get_status_display }}'.toLowerCase();
                taskCourse = '{{ task.team.course }}'.toLowerCase();
                taskId = '{{ task.id }}'
                searchString = $this.val().toLowerCase()

                if (taskTitle.includes(searchString) && shouldSearchTitle) {
                    $(`#${taskId}`).show();
                } else if (taskCreator.includes(searchString) && shouldSearchCreator) {
                    $(`#${taskId}`).show();
                } else if (taskAssignee.includes(searchString) && shouldSearchAssignee) {
                    $(`#${taskId}`).show();
                } else if (taskStatus.includes(searchString) && shouldSearchStatus) {
                    $(`#${taskId}`).show();
                }  else if (taskCourse.includes(searchString) && shouldSearchCourse) {
                    $(`#${taskId}`).show();
                } else {
                    $(`#${taskId}`).hide();
                }
            {% endfor %}

            {% for task in second_task_list %}
                taskTitle = '{{ task.title }}'.toLowerCase();
                taskCreator = '{{ task.creator }}'.toLowerCase();
                taskAssignee = '{{ task.assignee }}'.toLowerCase();
                taskStatus = '{{ task.get_status_display }}'.toLowerCase();
                taskCourse = '{{ task.team.course }}'.toLowerCase();
                taskId = '{{ task.id }}'
                searchString = $this.val().toLowerCase()

                if (taskTitle.includes(searchString) && shouldSearchTitle) {
                    $(`#${taskId}`).show();
                } else if (taskCreator.includes(searchString) && shouldSearchCreator) {
                    $(`#${taskId}`).show();
                } else if (taskAssignee.includes(searchString) && shouldSearchAssignee) {
                    $(`#${taskId}`).show();
                } else if (taskStatus.includes(searchString) && shouldSearchStatus) {
                    $(`#${taskId}`).show();
                }  else if (taskCourse.includes(searchString) && shouldSearchCourse) {
                    $(`#${taskId}`).show();
                } else {
                    $(`#${taskId}`).hide();
                }
            {% endfor %}
        }, delay));
    });
 </script>