{% extends "tasks/base.html" %}

{% block content %}
<div class="row">
    <div class="col-sm-6 user-feed" style="margin-top: 30px">
        <div class="col-sm-10" style="float: right">
            <h3>Supervised Teams</h3>
            <hr />
            {% if supervised_teams %}
            <ul class="list-group">
            {% for mteam in supervised_teams %}
                <li class="list-group-item">{{ mteam.name }} <br />
                {% for dv in mteam.developer_set.all %}
                    {{ dv }} /
                {% endfor %}
                <div>
                    <a href="{% url 'tasks:team-all-tasks' mteam.id %}" class="btn btn-default btn-info" role="button">
                        View All Tasks of {{ mteam.name }}
                    </a>
                    <a href="{% url 'tasks:task-create' mteam.id %}" class="btn btn-default btn-info" role="button">
                        Create Task for {{ mteam.name }}
                    </a>
                </div>
                </li>
            {% endfor %}
            </ul>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}


