{% extends "tasks/base.html" %}

{% block content %}
<div class="row" style="justify-content: center; align-items: center; margin-top: 100px">
    <div class="col-sm-6">
        <h3>Supervised Teams</h3>
        <hr />
        {% if supervised_teams %}
        <ul class="list-group">
        {% for mteam in supervised_teams %}
            <li class="list-group-item">
                <div class="row">
                    <div class="col-sm-4">
                        <h3>{{ mteam.name }}</h3>
                    </div>
                    <div class="col-sm-8">
                        <div style="display: inline-flex; float: right;">
                            {% for developer in mteam.developer_set.all %}
                                <p style="padding-right: 10px; font-size: 20px">{{ developer }} /</p>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <a href="{% url 'tasks:team-all-tasks' mteam.id 'due' %}" class="btn btn-default btn-info" role="button">
                            View All Tasks of {{ mteam.name }}
                        </a>
                    </div>
                    <div class="col-sm-6">
                        <a href="{% url 'tasks:task-create-supervisor' mteam.id %}" class="btn btn-default btn-info" role="button" style="padding-left: 20px; padding-right: 20px; float: right">
                            Create Task for {{ mteam.name }}
                        </a>
                    </div>
                </div>
            </li>
        {% endfor %}
        </ul>
        {% endif %}
    </div>
</div>
{% endblock %}


