{% extends "tasks/base.html" %}

{% block content %}
<div class="row">
    <div class="col-sm-12 profile-row">
      <div class="profile-card" style="float: left">
          <img src="{{ supervisor_photo_url }}" alt="Profile Picture">
          <div>
              <div class="profile-info">
                  <h1 style="margin-top: 40px">{{ supervisor_name }}</h1>
              </div>
          </div>
      </div>
        <div style="float: right; margin-top: 20px">
           <a href="{% url 'tasks:account-settings' %}" class="btn btn-default" role="button">Account Settings</a>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-5 user-feed">
        <div>
            <h3>Completed Tasks</h3>
            <hr/>
            {% if completed_task_list %}
                <ul>
                {% for task in completed_task_list %}
{#                    <li>#}
{#                        <h4>{{ task.title }}</h4>#}
{#                        <p>#}
{#                            Assigned to: {{ task.assignee }}<br />#}
{#                            Team: {{ task.team }}<br />#}
{#                            P/D/M:#}
{#                            {{ task.get_priority_display }} /#}
{#                            {{ task.get_difficulty_display }} /#}
{#                            {{ task.modifier }}<br />#}
{#                            Milestone: {{ task.milestone }} (Due: {{ task.milestone.due }})<br />#}
{#                            Due date: {{ task.due }}<br />#}
{#                            Status: {{ task.get_status_display }}#}
{#                        </p>#}
{#                        <p style="text-align: right"><a href="{% url 'tasks:view-task' task.id %}" class="btn btn-default btn-info" role="button">View Task</a></p>#}
{#                    </li>#}
                    <a href="{% url 'tasks:view-task' task.id %}" role="button" style="text-decoration: none; color: #1A1A1A">
                        <li>
                            <p class="task-date"><span class="bold-span">Due: </span>{{ task.due }}</p>
                            <div class="task-header">
                                <h4>{{ task.title }}</h4>
                                <p><span class="bold-span">Status: </span>{{ task.get_status_display }}</p>
                            </div>
                            <hr class="content-separator">
                            <div class="task-content">
                                <p class="content-text">{{ task.description }}</p>
                            </div>
                        </li>
                    </a>
                {% endfor %}
                </ul>
            {% else %}
              <p>There are no completed tasks.</p>
            {% endif %}
        </div>
    </div>

    <div class="col-sm-1"> </div>

    <div class="col-sm-6">
        <h3>Supervised Teams</h3>
        <hr />
        {% if supervised_teams %}
        <ul class="list-group">
        {% for mteam in supervised_teams %}
            <li class="list-group-item" style="padding-bottom: 16px">
                <div class="row">
                    <div class="col-sm-4">
                        <h3>{{ mteam.name }}</h3>
                    </div>
                    <div class="col-sm-8">
                        <div style="display: inline-flex; float: right;">
                            {% for developer in mteam.developer_set.all %}
                                <p style="padding-right: 10px; font-size: 18px">{{ developer.get_only_name }},</p>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <a href="{% url 'tasks:team-all-tasks' mteam.id 'due' %}" class="btn btn-default btn-info" role="button">
                            View All Tasks of {{ mteam.name }}
                        </a>
                    </div>
                    <div class="col-sm-6">
                        <a href="{% url 'tasks:task-create-supervisor' mteam.id %}" class="btn btn-default btn-info" role="button" style="padding-left: 20px; padding-right: 20px; float: right">
                            Create Task for {{ mteam.name }}
                        </a>
                    </div>
                </div>
            </li>
        {% endfor %}
        </ul>
        {% endif %}
    </div>
</div>
{% endblock %}


