{% extends "tasks/base.html" %}

{% block content %}
<div class="row" style="justify-content: center; align-items: center; margin-top: 10px">
        <div class="col-sm-12">
            {% if task_list %}
                <div class="all-tasks-search sticky" style="margin-bottom: 20px;">
                    <h3>All Tasks of {{ team_name }}</h3>
                    <a href="{% url 'tasks:team-all-tasks' team_id 'status' %}" class="btn btn-default btn-info" role="button">
                        Sort by status
                    </a>
                    <a href="{% url 'tasks:team-all-tasks' team_id 'last_modified' %}" class="btn btn-default btn-info" role="button">
                        Sort by last modified
                    </a>
                    <a href="{% url 'tasks:team-all-tasks' team_id 'due' %}" class="btn btn-default btn-info" role="button">
                        Sort by due date
                    </a>
                </div>
                <div style="margin-top: 102px; padding-right: 20px">
                    <table class="supervisor-all-tasks">
                        <tr class="table-header-row">
                            <th style="min-width: 300px">Task Title</th>
                            <th style="min-width: 200px">Creator</th>
                            <th style="min-width: 200px">Assignee</th>
                            <th style="min-width: 250px">Status</th>
                            <th style="min-width: 550px">Description</th>
                            <th style="min-width: 150px">Due Date</th>
                        </tr>
                        {% for task in task_list %}

                            <tr data-href="{% url 'tasks:view-task' task.id %}">
                                    <td height="65"><a href="{% url 'tasks:view-task' task.id %}" role="button" class="views-link">{{ task.title }}</a></td>
                                    <td height="65"><a href="{% url 'tasks:view-task' task.id %}" role="button" class="views-link">{{ task.creator }}</a></td>
                                    <td height="65"><a href="{% url 'tasks:view-task' task.id %}" role="button" class="views-link">{{ task.assignee }}</a></td>
                                    <td height="65"><a href="{% url 'tasks:view-task' task.id %}" role="button" class="views-link">{{ task.get_status_display }}</a></td>
                                    <td class="task-description" height="65">{{ task.description }}</td>
                                    <td height="65"><a href="{% url 'tasks:view-task' task.id %}" role="button" class="views-link">{{ task.due }}</a></td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
        {% else %}
            <p>This team does not have any tasks assigned to them.</p>
        {% endif %}
        </div>
</div>

{% endblock %}

{% block scriptcontent %}
<script>
$(document).ready(function() {
    const taskDescriptions = document.getElementsByClassName("task-description");
    for (let i = 0; i < taskDescriptions.length; i++) {
        let description = taskDescriptions[i].innerHTML;
        if (description.length > 127) {
            taskDescriptions[i].innerHTML = description.substr(0, 114) + "... ";
        } else {
            taskDescriptions[i].innerHTML = description.substr(0, 114);
        }
    }
});
</script>
{% endblock %}

