{% extends "tasks/base_new.html" %}

{% block content %}
<div class="row">
        <div class="col-sm-5 user-feed">
            {% if user_task_list %}
                <h3>Your Active Tasks</h3>
                <ul>
                    {% for task in user_task_list %}
                        <a href="{% url 'tasks:view-task' task.id %}" role="button" style="text-decoration: none; color: #1A1A1A">
                            <li>
                                <p class="task-date"><span class="bold-span">Due: </span>{{ task.due }}</p>
                                <div class="task-header">
                                    <h4>{{ task.title }}</h4>
                                    <p><span class="bold-span">Status: </span>{{ task.get_status_display }}</p>
                                </div>
                                <hr class="content-separator">
                                <div class="task-content">
                                    <p class="content-text">{{ task.description }}</p>
                                </div>
                            </li>
                        </a>
                    {% endfor %}
                </ul>
        {% else %}
            <p>You don't have any tasks assigned to you.</p>
        {% endif %}
        </div>
</div>

{% endblock %}

