{% extends "tasks/base.html" %}

{% block content %}
<div class="row task-all-row">
        <div class="col-sm-6 user-feed">
            {% if user_task_list %}
                <div class="all-tasks-search">
                    <h3>Your Active Tasks</h3>
                    <a href="{% url 'tasks:task-all' team_id 'status' %}" class="btn btn-info" role="button">
                        Sort by status
                    </a>
                    <a href="{% url 'tasks:task-all' team_id 'last_modified' %}" class="btn btn-info" role="button">
                        Sort by last modified
                    </a>
                    <a href="{% url 'tasks:task-all' team_id 'due' %}" class="btn btn-info" role="button">
                        Sort by due date
                    </a>
                </div>
                <div class="task-all-column">
                    <ul>
                        {% for task in user_task_list %}
                            <a href="{% url 'tasks:view-task' task.id %}" role="button" style="text-decoration: none; color: #1A1A1A">
                                <li>
                                    <p class="task-date"><span class="bold-span">Due: </span>{{ task.due }}</p>
                                    <div class="task-header">
                                        <h4>{{ task.title }}</h4>
                                        <p><span class="bold-span">Status: </span>{{ task.get_status_display }}</p>
                                    </div>
                                    <hr class="content-separator">
                                    <div class="task-content">
                                        <p class="content-text">{{ task.description }}</p>
                                    </div>
                                </li>
                            </a>
                        {% endfor %}
                    </ul>
                </div>
        {% else %}
            <p>You don't have any tasks assigned to you.</p>
        {% endif %}
        </div>

        <div class="col-sm-6 user-feed">
            {% if task_list %}
                <div class="all-tasks-search your-teams-active-tasks">
                    <h3>Your Team's Active Tasks</h3>
                </div>
                <div class="task-all-column">
                    <ul>
                        {% for task in task_list %}
                            <a href="{% url 'tasks:view-task' task.id %}" role="button" style="text-decoration: none; color: #1A1A1A">
                                <li>
                                    <div class="task-date">
                                        <p><span class="bold-span">Due: </span>{{ task.due }}</p>
                                        <p class="mg-t-minus-5"><span class="bold-span">Assignee: </span>{{ task.assignee }}</p>
                                    </div>
                                    <div class="task-header">
                                        <h4>{{ task.title }}</h4>
                                        <p><span class="bold-span">Status: </span>{{ task.get_status_display }}</p>
                                    </div>

                                    <hr class="content-separator">
                                    <div class="task-content">
                                        <p class="content-text">{{ task.description }}</p>
                                    </div>
                                </li>
                            </a>
                        {% endfor %}
                    </ul>
                </div>
        {% else %}
            <p>Your team does not have any tasks assigned to them.</p>
        {% endif %}
        </div>
</div>

{% endblock %}

{% block scriptcontent %}

{% endblock %}

