{% extends "tasks/base_new.html" %}

{% block content %}

<div class="row">
    <div class="col-sm-6" style="display: flex; justify-content: center; margin-top: 15px">
        <h2>{{ developer_name }}</h2>
    </div>
    <div class="col-sm-6" style="display: flex; justify-content: center; margin-top: 15px">
        <h2>{{ team_name }}</h2>
    </div>
</div>
<hr/>
<div class="row">
    <div class="col-sm-6 user-feed">
        <div class="your-active-tasks-header">
            <h3 style="float: left">Your Active Tasks</h3>
            <div class="create-new-task-button">
                <a href="{% url 'tasks:task-create-developer' %}" class="btn btn-default btn-info" role="button" style="float: right; margin-left: 10px">Create a new task</a>
                <a href="{% url 'tasks:task-all' 'due' %}" class="btn btn-default btn-info" role="button" style="float: right">View All Tasks</a>
            </div>
        </div>
        {% if user_task_list %}
            <div class="your-active-tasks">
                    <ul>
                        {% for task in user_task_list %}
                            <a href="{% url 'tasks:view-task' task.id %}" role="button" style="text-decoration: none; color: #1A1A1A">
                                <li>
                                    <p class="task-date"><span class="bold-span">Due: </span>{{ task.due }}</p>
                                    <div class="task-header">
                                        <h4>{{ task.title }}</h4>
                                        <p><span class="bold-span">Status: </span>{{ task.get_status_display }}</p>
                                    </div>
                                    <hr class="content-separator">
                                    <div class="task-content">
                                        <p class="content-text">{{ task.description }}</p>
                                    </div>
                                </li>
                            </a>
                        {% endfor %}
                    </ul>
            </div>


        {% else %}
            <p>You don't have any tasks assigned to you.</p>
        {% endif %}
    </div>

    <div class="col-sm-6 user-feed">
        <div class="team-member-header">
            <h3 style="float: left">Team Members</h3>
        </div>
        <div class="team-accordion">
        {% for mate, tasks in teammates_task_dict.items %}
            <button class="accordion">{{ mate }}</button>
            <ul>
            {% for mate_task in tasks %}
                <div class="panel">
                     <a href="{% url 'tasks:view-task' mate_task.id %}" style="text-decoration: none; color: #1A1A1A">
                        <li>
                            <p class="task-date"><span class="bold-span">Due: </span>{{ mate_task.due }}</p>
                            <div class="task-header">
                                <h4>{{ mate_task.title }}</h4>
                                <p><span class="bold-span">Status: </span>{{ mate_task.get_status_display }}</p>
                            </div>
                            <hr class="content-separator">
                            <div class="task-content">
                                <p class="content-text">{{ mate_task.description }}</p>
                            </div>
                        </li>
                     </a>
                </div>
            {% endfor %}
            </ul>
        {% endfor %}
        </div>
    </div>
</div>
{#<script>#}
{#    const acc = document.getElementsByClassName("accordion");#}
{#    let i;#}
{##}
{#    for (i = 0; i < acc.length; i++) {#}
{#      acc[i].addEventListener("click", function() {#}
{#        this.classList.toggle("active");#}
{#          let task_list = this.nextElementSibling;#}
{#          for (let task_index = 0; task_index < task_list.children.length; task_index++) {#}
{#            let task = task_list.children.item(task_index);#}
{#            if (task.style.display === "block") {#}
{#                task.style.display = "none";#}
{#            } else {#}
{#                task.style.display = "block";#}
{#            }#}
{#          }#}
{#      });#}
{#    }#}
{#</script>#}

{% endblock %}

