{% extends "tasks/base_legacy.html" %}

{% block leftcontent %}
    <h3>{{ developer_name }}</h3>
    <div class="text-right">
      <a href="{% url 'tasks:change-pass' %}" class="btn" role="button">Change Password</a>
      <a href="{% url 'tasks:leave' %}" class="btn" role="button">Logout</a>
    </div>
<hr />
{% if user_task_list %}
<h3>Your Active Tasks</h3>
<ul class="list-group">
{% for task in user_task_list %}
  <li class="list-group-item">
    <h4>{{ task.title }}</h4>
    <p>
      P/D/M:
        {{ task.get_priority_display }} /
        {{ task.get_difficulty_display }} /
        {{ task.modifier }}<br />
      Due date: {{ task.due }}<br />
      Status: {{ task.get_status_display }}
    </p>
    <p style="text-align: right">
      {% if task.status == 2 %}
       <a href="{% url 'tasks:update' task.id 3 %}" class="btn btn-warning" role="button">Submit for Review</a>
      {% endif %}
       <a href="{% url 'tasks:view-task' task.id %}" class="btn btn-info" role="button">View Task</a>
    </p>
</li>
{% endfor %}
</ul>
{% else %}
  <p>You don't have any tasks assigned to you.</p>
{% endif %}

{% endblock %}

{% block rightcontent %}
    <h3>{{ team_name }}</h3>
    <div style="text-align: right">
      {% if request.user.is_superuser %}
        <a href="{% url 'tasks:view-all-teams' %}" class="btn" role="button">View All Teams</a>
      {% endif %}
    {% if github_url %}
      <a href="{{ github_url }}" class="btn" role="button">Git Page</a>
    {% endif %}
      <a href="{% url 'tasks:team-points' team_id %}" class="btn" role="button">View Team/Developer Points</a>
      <a href="{% url 'tasks:task-all' team_id 'due' %}" class="btn" role="button">View All Tasks</a>
      <a href="{% url 'tasks:task-create-developer' %}" class="btn btn-info" role="button">Create Task for the team</a>
    </div>
    <hr />
    {% if team_task_list %}
    <h3>Active Team Tasks</h3>
    <ul class="list-group">
    {% for task in team_task_list %}
      <li class="list-group-item">
        <h4>{{ task.title }}</h4>
        <p>
          Assigned to: {{ task.assignee }}<br />
          P/D/M:
            {{ task.get_priority_display }} /
            {{ task.get_difficulty_display }} /
            {{ task.modifier }}<br />
          Milestone: {{ task.milestone }} (Due: {{ task.milestone.due }})<br />
          Due date: {{ task.due }}<br />
          Status: {{ task.get_status_display }}
        </p>
        <p style="text-align: right">
          <a href="{% url 'tasks:view-task' task.id %}" class="btn btn-info" role="button">View Task</a>
        </p>
    </li>
    {% endfor %}
    </ul>
    {% else %}
      <p>Your team does not have any tasks.</p>
    {% endif %}

{% endblock %}
