{% extends "tasks/base.html" %}
{% load tags %}

{% block content %}
    <div class="row select-team-row">
        <h2>Select a Team</h2>
    </div>

    <div class="row mg-t-10" style="height: auto;">
        <div class="col-sm-1"></div>
        <div class="col-sm-10 teams-main-column">
            <div class="row">
                {% for temp_loop in teams %}
                    <div class="col-sm-2 user-feed team-column">
                        {% with teams|get_item_at_index:forloop.counter0 as team %}
                            <a href="{% url 'tasks:team-home' team.id %}" role="button" style="text-decoration: none; color: #1A1A1A">
                                <ul>
                                    <li>
                                        <p class="teams-course"><span class="bold-span">Course: </span>{{ team.course }}</p>
                                        <div class="teams-name">
                                            <h4>{{ team.name }}</h4>
                                            <p><span class="bold-span">Milestone: </span>{{ team.course.get_current_milestone }}</p>
                                        </div>
                                        <div class="teams-content">
                                            <p class="supervisor-text">{{ team.supervisor }}</p>
                                        </div>
                                    </li>
                                </ul>
                            </a>
                        {% endwith %}
                        {% with tasks_status|get_item_at_index:forloop.counter0 as team_task_status %}
                            <table class="task-info-table">
                                <tr><td>You have <b>{{ team_task_status.active_tasks }}</b> active task(s) in this team.</td></tr>
                                <tr><td>Tasks in review</td><td>: </td><td> {{ team_task_status.review_tasks }}</td></tr>
                                <tr><td>Tasks in working on it</td><td>: </td><td> {{ team_task_status.working_on_it_tasks }}</td></tr>
                                <tr><td>Tasks in waiting for review</td><td>: </td><td> {{ team_task_status.waiting_for_review_tasks }}</td></tr>
                                <tr><td>Tasks in waiting for supervisor grade</td><td>: </td><td> {{ team_task_status.waiting_for_supervisor_grade_tasks }}</td></tr>
                                <tr><td>Tasks in accepted</td><td>: </td><td> {{ team_task_status.accepted_tasks }}</td></tr>
                                <tr><td>Tasks in rejected</td><td>: </td><td> {{ team_task_status.rejected_tasks }}</td></tr>
                            </table>
                        {% endwith %}
                        {% with all_teammates|get_item_at_index:forloop.counter0 as teammates %}
                            <button class="accordion">Teammates</button>
                            <ul>
                            {% for mate in teammates %}
                                <div class="panel">
                                     <a href="{% url 'tasks:visit-profile' mate.id %}" style="text-decoration: none; color: #1A1A1A">
                                        <li>
                                            <p>{{ mate }}</p>
                                        </li>
                                     </a>
                                </div>
                            {% endfor %}
                            </ul>
                        {% endwith %}
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="col-sm-1"></div>
    </div>
{% endblock %}
