{% extends "tasks/base.html" %}

{% block content %}


    <div class="row" style="justify-content: center; align-items: center; margin-top: 125px">
        {% for team in teams %}
            <div class="col-sm-2 user-feed">
                <a href="{% url 'tasks:team-home' team.id %}" role="button" style="text-decoration: none; color: #1A1A1A">
                    <ul>
                        <li>
                            <p class="teams-course"><span class="bold-span">Course: </span>{{ team.course }}</p>
                            <div class="teams-name">
                                <h4>{{ team.name }}</h4>
                                <p><span class="bold-span">Milestone: </span>{{ team.course.get_current_milestone }}</p>
                            </div>
        {#                    <hr class="content-separator">#}
                            <div class="teams-content">
                                <p class="supervisor-text">{{ team.supervisor }}</p>
                            </div>
                        </li>
                    </ul>
                </a>
            </div>
        {% endfor %}
    </div>

    <div class="row" style="justify-content: center; align-items: center;">
        {% for team_task_status in tasks_status %}
            <div class="col-sm-2 user-feed">
                <table class="task-info-table">
                    <tr><td>You have <b>{{ team_task_status.active_tasks }}</b> active task(s) in this team.</td></tr>
                    <tr><td>Tasks in review</td><td>: </td><td> {{ team_task_status.review_tasks }}</td></tr>
                    <tr><td>Tasks in working on it</td><td>: </td><td> {{ team_task_status.working_on_it_tasks }}</td></tr>
                    <tr><td>Tasks in waiting for review</td><td>: </td><td> {{ team_task_status.waiting_for_review_tasks }}</td></tr>
                    <tr><td>Tasks in waiting for supervisor grade</td><td>: </td><td> {{ team_task_status.waiting_for_supervisor_grade_tasks }}</td></tr>
                    <tr><td>Tasks in accepted</td><td>: </td><td> {{ team_task_status.accepted_tasks }}</td></tr>
                    <tr><td>Tasks in rejected</td><td>: </td><td> {{ team_task_status.rejected_tasks }}</td></tr>
                </table>
            </div>
        {% endfor %}
    </div>

    {# TODO: teammates accordion is misplaced whenever another accordion is opened #}
    <div class="row" style="justify-content: center; align-items: center;">
        {% for teammates in all_teammates %}
            <div class="col-sm-2 user-feed">
                <button class="accordion">Teammates</button>
                <ul>
                {% for mate in teammates %}
                    <div class="panel">
                         <a href="{% url 'tasks:visit-profile' mate.id %}" style="text-decoration: none; color: #1A1A1A">
                            <li>
                                <p>{{ mate }}</p>
                            </li>
                         </a>
                    </div>
                {% endfor %}
                </ul>
            </div>
        {% endfor %}
    </div>

{% endblock %}
