{% extends "tasks/base.html" %}
{% load static %}


{% block main_content %}

<h4>TPS Team</h4>

<ul>
    <li>Kaya Oğuz</li>
    <li>Thanks to Arda Kestane, Emre Dülek, Umut Karakuyu for their contributions during summer 2022.</li>
    <li>Thanks to Oğuz Sabitay, Utku Işıl, Doruk Maltepe for their contributions during 2020. </li>
    <li>Thanks to Kasım Muratoğlu for his contributions during his MSc thesis, 2019 to 2021.</li>
    <li>Thanks to Mert Akkanat for including TPS in his thesis studies, 2022
</ul>

<h4>Related Publications</h4>
<ul>
    <li>MSc Thesis, Mert Akkanat (2022), "Application of Agile Software Development Practices in Software Engineering Education".</li>
    <li>MSc Thesis, Kasım Muratoğlu (2021), "Assessment of Team and Individual Contribution in Computer and Software Engineering Education".</li>
    <li>Oguz D and Oguz K (2019), "Perspectives on the Gap Between the Software Industry and the Software Engineering Education", IEEE Access. Vol. 7, pp. 117527-117543. </li>
    <li>Oğuz K and Gül S (2017), "Yazılım Mühendisliği Eğitiminde Takım Projelerinin Yönetimi ve Değerlendirilmesi", In Proceedings of the 11th Turkish National Software Engineering Symposium, Alanya, Turkey, October 18-20, 2017, pp. 184-195. </li>
</ul>

<h4>Updates</h4>
<h5>2021.11.22, Monday</h5>
<ul>
    <li>Lecturer view updates...</li>
</ul>
<h5>Before 2021.11.22</h5>
<ul>
    <li>Logs for tasks</li>
    <li>Bug fixes</li>
</ul>

{% endblock %}