{% extends "tasks/base.html" %}
{% load static %}

{% block content %}
    <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-lg-8 view-task-main-column">

            <div class="row task-status-bar mg-b-10 mg-t-10">
                {% with 'tasks/task_status_pngs/'|add:task.get_status_display|add:'.png' as image_static %}
                    <img
                        src="{% static image_static %}"
                        alt="Task's current status: {{ task.get_status_display }}"
                        title="Task's current status: {{ task.get_status_display }}"
                        id="task-status"
                    >
                {% endwith %}
            </div>

            <div class="row task-and-team-name no-style-links mg-b-10">
                <div class="col-sm-6">
                    <h3><a href="{% url 'tasks:view-task' task.id %}">{{ task.title }}</a></h3>
                </div>
                <div class="col-sm-6">
                    <div class="team-name float-right">
                        <h3><a href="{% url 'tasks:team-home' task.team.id %}">{{ task.team }}</a></h3>
                    </div>
                </div>
            </div>

            <div class="row task-details-card mg-b-10">
                <div class="col-sm-6">
                    <table class="task-info-table">
                        <tr><td><b>Assigned to</b></td><td>:</td><td>{{ task.assignee }}</td></tr>
                        <tr><td><b>Priority</b></td><td>:</td><td bgcolor={{ priority_color }}>{{ task.get_priority_display }}</td></tr>
                        <tr><td><b>Difficulty</b></td><td>:</td><td bgcolor={{ difficulty_color }}>{{ task.get_difficulty_display }}</td></tr>
                        <tr><td><b>Due Date</b></td><td>:</td><td>{{ task.due }}</td></tr>
                    </table>
                </div>
                <div class="col-sm-6">
                    <table class="task-info-table">
                        <tr><td><b>Description</b></td><td>:</td><td>{{ task.description|linebreaksbr }}</td></tr>
                        {% if task.status == 1 or task.status == 2 %}
                            <tr><td><b>Creation Accept Votes</b></td><td>:</td><td>{{ task.get_creation_accept_votes.count }}</td></tr>
                            <tr><td><b>Creation Change Votes</b></td><td>:</td><td>{{ task.get_creation_change_votes.count }}</td></tr>
                        {% else %}
                            <tr><td><b>Submission Accept Votes</b></td><td>:</td><td>{{ task.get_submission_accept_votes.count }}</td></tr>
                            <tr><td><b>Submission Change Votes</b></td><td>:</td><td>{{ task.get_submission_change_votes.count }}</td></tr>
                        {% endif %}
                    </table>
                </div>
                <div class="row task-detail-buttons">
                    <button type="button" class="btn btn-info" id="task-more-details-button"><i>More details</i></button>
                    <button type="button" class="btn btn-info" id="task-history-button"><i>History</i></button>
                </div>
            </div>

            <div class="row task-additional-details mg-b-10">
                <h4>Additional Details</h4>
                <table class="task-info-table">
                    <tr><td><b>Created on</b></td><td>:</td><td>{{ task.created_on }}</td></tr>
                    <tr><td><b>Milestone</b></td><td>:</td><td>{{ task.milestone }}</td></tr>
                    <tr><td><b>Modifier</b></td><td>:</td><td>{{ task.modifier }}</td></tr>
                    <tr><td><b>Task Point ((p*d) + m)</b></td><td>:</td><td>{{ task.get_points }}</td></tr>
                    <tr><td><b>Last Modified by</b></td><td>:</td><td>{{ task.creator.get_full_name }}</td></tr>
                    <tr><td><b>Last Modified</b></td><td>:</td><td>{{ task.last_modified }}</td></tr>
                </table>
            </div>
            <div class="row task-history mg-b-10">
                <h4 class="mg-b-10">Task History</h4>
                {% for task_history_element in task_history %}
                    {% if task_history_element.action_description %}
                        <div class="row task-history-element mg-b-10">
                            <div class="col-sm-8">
                                <p>{{ task_history_element.action_description }}</p>
                            </div>
                            <div class="col-sm-4">
                                <div class="float-right">
                                    <p><b>{{ task_history_element.created_on }}</b></p>
                                </div>
                            </div>
                        </div>
                    {% else %}
                        <div class="row task-history-element mg-b-10">
                            <div class="col-sm-12">
                                {% for key, value in task_history_element.items %}
                                    {% if key != 'created_on' %}
                                        <p><b>{{ key | title }}</b>: {{ value }}</p>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12 difference-edit-connection-line">
                                <div class="vl mg-b-10"></div>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>

            <div class="row alert-messages">
                {% for message in messages %}
                    <div class="alert alert-danger">
                        <a class="close" href="#" data-dismiss="alert">&nbsp;×</a>
                        {{ message }}
                    </div>
                {% endfor %}
            </div>

            <div class="row task-buttons mg-b-10">
                {# SUPERVISOR #}
                {% if user_s and task.status == 1 or user_s and task.status == 3 or user_s and task.status == 4 %}
                    {% if user_s and task.status == 3 or user_s and task.status == 4 %}
                        Set Modifier to:
                        <a href="{% url 'tasks:update-task-mod' task.id 1 %}" class="btn" role="button">1</a>
                        <a href="{% url 'tasks:update-task-mod' task.id 2 %}" class="btn" role="button">2</a>
                        <a href="{% url 'tasks:update-task-mod' task.id 3 %}" class="btn" role="button">3</a>
                        <a href="{% url 'tasks:update-task-mod' task.id 4 %}" class="btn" role="button">4</a>
                        <a href="{% url 'tasks:update-task-mod' task.id 5 %}" class="btn" role="button">5</a>
                        <hr />
                    {% endif %}
                    {% if task.status == 3 or task.status == 4 %}
                        <a href="{% url 'tasks:update' task.id 6 %}" class="btn btn-success disable-after" role="button" onclick="return ensureTask('accept')">Accept</a>
                    {% else %}
                        <a href="{% url 'tasks:update' task.id 2 %}" class="btn btn-success disable-after" role="button" onclick="return ensureTask('accept')">Accept</a>
                    {% endif %}

                    <a href="{% url 'tasks:update' task.id 5 %}" class="btn btn-danger disable-after" role="button" onclick="return ensureTask('reject')">Reject</a>
                {% endif %}

                {# DEVELOPER #}
                {% if user_d and task.status == 1 and can_edit == None and can_vote %}
                    <a href="{% url 'tasks:send-vote' task_id=task.id status_id=1 button_id=1 %}" class="btn btn-success disable-after" role="button">Accept</a>
                    <a href="{% url 'tasks:send-vote' task_id=task.id status_id=1 button_id=2 %}" class="btn btn-danger disable-after" role="button">Request Change</a>
                {% elif user_d and task.status == 2 and can_edit != None and can_change_status %}
                    <a href="{% url 'tasks:update' task.id 3 %}" class="btn btn-warning disable-after" role="button">Submit for Review</a>
                {% elif user_d and task.status == 3 and can_edit == None and can_vote %}
                    <a href="{% url 'tasks:send-vote' task_id=task.id status_id=3 button_id=3 %}" class="btn btn-success disable-after" role="button">Accept</a>
                    <a href="{% url 'tasks:send-vote' task_id=task.id status_id=3 button_id=4 %}" class="btn btn-danger disable-after" role="button">Request Change</a>
                {% elif user_d and task.status == 3 and can_edit == 'developer' %}
                    {% if half_the_team_accepted %}
                        <a
                            href="{% url 'tasks:update' task.id 4 %}"
                            class="btn btn-success disable-after"
                            role="button"
                            title="Change status to 'Waiting for supervisor grade' without waiting for all your team members"
                            onclick="return ensureTask('change the status to \'Waiting for supervisor grade\'')"
                        >Proceed</a>
                    {% endif %}
                    {% if submission_needs_change %}
                        <a
                            href="{% url 'tasks:update' task.id 2 %}"
                            class="btn btn-info disable-after"
                            role="button"
                            title="Change status back to 'Working on it'"
                            onclick="return ensureTask('change the status to \'Working on it\'')"
                        >Recede</a>
                    {% endif %}
                {% elif user_d and can_edit == 'developer' and task.status == 1 %}
                    {% if can_vote and task.creator != user_d.user%}
                        <a href="{% url 'tasks:send-vote' task_id=task.id status_id=1 button_id=1 %}" class="btn btn-success disable-after" role="button">Accept</a>
                        <a href="{% url 'tasks:send-vote' task_id=task.id status_id=1 button_id=2 %}" class="btn btn-danger disable-after" role="button">Request Change</a>
                    {% endif %}
                    {% if half_the_team_accepted %}
                        <a
                            href="{% url 'tasks:update' task.id 2 %}"
                            class="btn btn-success disable-after"
                            role="button"
                            title="Change status to 'Working on it' without waiting for all your team members"
                            onclick="return ensureTask('change the status to \'Working on it\'')"
                        >Proceed</a>
                    {% endif %}
                    {% if creation_needs_change %}
                        <a href="{% url 'tasks:task-edit-developer' task_id=task.id %}" class="btn btn-primary disable-after" role="button" title="Edit your task details">Edit</a>
                    {% endif %}
                {% endif %}

                {# SUPERVISOR #}
                {% if can_edit == "supervisor" and task.status != 2 and task.status != 5 and task.status != 6 %}
                    <a href="{% url 'tasks:task-edit-supervisor' task_id=task.id %}" class="btn btn-primary disable-after" role="button">Edit</a>
                {% endif %}
            </div>

            <div class="row task-comment-form mg-b-10">
                <h3>Comments</h3>
                <form action="{% url 'tasks:send-comment' tid %}" method="post">
                    {% csrf_token %}
                    {% for field in form %}
                        {% if final_comment|length < 1 and field.name == "is_final" and user_d == task.assignee and task.status == 2 %}
                            <div class="final-answer-checkbox">Mark as final answer {{ field }}</div>
                        {% elif field.name != "is_final" %}
                            {{ field.label_tag }}{{ field }}
                        {% endif %}
                    {% endfor %}
                    <div class="text-right pad-4"><input type="submit" value="Submit" class="btn btn-success disable-after" id="send" /></div>
                </form>
            </div>

            <div class="row task-comments mg-b-10">
                {% if final_comment %}
                    <i class="fa fa-check fa-2x" aria-hidden="true"></i>
                    <ul class="list-group">
                        {% for f_comment in final_comment %}
                            <li class="list-group-item final-answer-comment">
                              <div class="row">
                                  <div class="col-sm-6">
                                     <p style="font-size: 1.3rem"><b>{{f_comment.owner}}</b></p>
                                  </div>
                                  <div class="col-sm-6">
                                    <p class="text-right">{{f_comment.created_on}}</p>
                                  </div>
                              </div>
                              <hr class="content-separator" style="margin: -12px 0 10px 0">
                              <p>{{f_comment.body|linebreaksbr}}</p>
                              {% if f_comment.file_url %}
                              <p>File URL: <a href="{{f_comment.file_url }}">{{f_comment.file_url }}</a></p>
                              {% endif %}
                            </li>
                        {% endfor %}
                    </ul>
                {% endif %}

                {% if all_comments_but_final %}
                    <ul class="list-group">
                        {% for comment in all_comments_but_final %}
                            <li class="list-group-item" style="border: 1px solid rgba(206, 212, 218, 0.9)">
                                <div class="row">
                                    <div class="col-sm-6">
                                     <p style="font-size: 1.3rem"><b>{{comment.owner}}</b></p>
                                    </div>
                                    <div class="col-sm-6">
                                    <p class="text-right">{{comment.created_on}}</p>
                                    </div>
                                </div>
                                <hr class="content-separator" style="margin: -12px 0 10px 0">
                                <p>{{comment.body|linebreaksbr}}</p>
                                {% if comment.file_url %}
                                <p>File URL: <a href="{{comment.file_url }}">{{comment.file_url }}</a></p>
                                {% endif %}
                            </li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>

            </div>
        <div class="col-sm-2"></div>
    </div>
{% endblock %}
{% block scriptcontent %}
    <script>
        const taskButtons = $('.task-buttons');
        if (taskButtons.children().length < 1) taskButtons.hide(0);

        const taskComments = $('.task-comments');
        if (taskComments.children().length < 1) taskComments.hide(0);

        const alertMessages = $('.alert-messages');
        if (alertMessages.children().length < 1) alertMessages.hide(0);

        const teamName$ = $('.team-name');
        const taskStatus$ = $('#task-status');

        $(window).on('resize', function () {
            if (window.innerWidth < 576) {
                teamName$.removeClass('float-right');
            } else {
                teamName$.addClass('float-right');
            }

            if (window.innerWidth < 1215) {
                {% with 'tasks/task_status_pngs/'|add:task.get_status_display|add:'_mobile.png' as imageStatic %}
                    taskStatus$.attr('src', '{% static imageStatic %}')
                {% endwith %}
            } else {
                {% with 'tasks/task_status_pngs/'|add:task.get_status_display|add:'.png' as imageStatic %}
                    taskStatus$.attr('src', '{% static imageStatic %}')
                {% endwith %}
            }
        });

        let confirmResult = true;

        function ensureTask(d) {
            confirmResult = confirm("Are you sure you want to " + d + "?");
            return confirmResult;
        }

        $(function () {
            if (window.innerWidth < 1215) {
                {% with 'tasks/task_status_pngs/'|add:task.get_status_display|add:'_mobile.png' as imageStatic %}
                    taskStatus$.attr('src', '{% static imageStatic %}')
                {% endwith %}
            }

            if (window.innerWidth < 576) {
                teamName$.removeClass('float-right');
            }
        });

        const disableAfterElements = document.getElementsByClassName('disable-after');

        $('.disable-after').on('click', function () {
            if (!confirmResult || ($(this).attr('id') === 'send' && $('#id_body').val().length < 1)) {
                return;
            }

            Array.from(disableAfterElements).forEach((element) => {
                element.style.pointerEvents = 'none';
                element.classList.add('btn-secondary');
                element.classList.remove('btn-warning');
                element.classList.remove('btn-success');
                element.classList.remove('btn-danger');
                element.classList.remove('btn-primary');
                element.classList.remove('btn-info');
            });
	    });

        $("input, select, textarea").addClass("form-control");
        $("#send").removeClass("form-control");
        $("td").css("padding", "4px");
    </script>
{% endblock %}
