body, div, p, td, li {
  font-family: "Roboto";
  font-weight: 300;
  font-size: 12pt;
}

body {
  overflow-y: scroll;
}

::-webkit-scrollbar {
  height: 4px;
  width: 4px;
  background: #1A1A1A;
}

::-webkit-scrollbar-thumb {
  background: #FF5722;
  -webkit-border-radius: 1ex;
  -webkit-box-shadow: 0px 1px 2px #1A1A1A;
}

::-webkit-scrollbar-corner {
  background: #FF5722;
}

/*.wrapper {*/
/*  margin: 100px 0;*/
/*}*/
.toggle_radio{
  position: relative;
  background: rgba(155,155,155,.1);
  margin: 4px auto;
  overflow: hidden;
  padding: 0 !important;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  position: relative;
  height: 31px;
  width: 438px;
}
.toggle_radio > * {
  float: left;
}
/*.toggle_radio > a {*/
/*  text-decoration: none;*/
/*}*/
.toggle_radio input[type=radio]{
  display: none;
  /*position: fixed;*/
}
.toggle_radio label{
  font: 90%/1.618 "Roboto";
  color: rgba(22,22,22,.9);
  display: block;
  width: 140px;
  height: 25px;
  margin: 3px 3px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  cursor: pointer;
  z-index: 1;
  /*background: rgba(0,0,0,.1);*/
  text-align: center;
  /*margin: 0 2px;*/
  /*background: blue;*/ /*make it blue*/
}
.toggle_option_slider{
  /*display: none;*/
  /*background: red;*/
  width: 140px;
  height: 25px;
  position: absolute;
  top: 3px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  -webkit-transition: all .4s ease;
  -moz-transition: all .4s ease;
  -o-transition: all .4s ease;
  -ms-transition: all .4s ease;
  transition: all .4s ease;
}

#first_toggle:checked ~ .toggle_option_slider{
  background: rgba(155,155,155,.3);
  left: 3px;
}
#second_toggle:checked ~ .toggle_option_slider{
  background: rgba(155,155,155,.3);
  left: 149px;
}
#third_toggle:checked ~ .toggle_option_slider{
  background: rgba(155,155,155,.3);
  left: 295px;
}

.tps-logo{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 175px;
}
.version-text{
  margin-top: 100px;
}

.views-link {
  text-decoration: none !important;
  color: #1A1A1A !important;
  display: block;
  padding: 8px 16px 8px 16px;
}

/*****************************     PROFILE     *****************************/

/* SIDEBAR */

#sidebar {
  /* background-color: #636363; */
  background-color: #1A1A1A;
  height: 100%;
  width: 200px;
  left: 0;
  top: 0;
  position: fixed;
  z-index: 4;
  overflow-x: hidden;
}

#sidebar ul {
  list-style: none;
  padding-left: 10px;
  margin-left: -10px;
}

#sidebar ul hr {
  background-color: rgba(255, 255, 255, 0.6);
  border-top: 2px solid rgba(255, 255, 255, 0.6);
}


#sidebar ul li a {
  color: aliceblue;
  display: inline-block;
  padding: 14px 0 14px 8px;
  align-items: center;
  width: 100%;
  height: 100%;
  /* border-bottom: 2px solid #636363; */
  border-left: 8px solid #1A1A1A;
  transition: 0.3s;
}

#sidebar ul li a:hover,
#bottom-sign-out:hover {
  background-color: #868686;
  /* border-bottom: 2px solid #FF5722; */
  border-left: 8px solid #FF5722;
}

#bottom-sign-out {
  position: absolute;
  bottom: 0px;
  width: 100%;
  color: aliceblue;
  border-left: 8px solid #1A1A1A;
  text-decoration: none;
  padding: 14px 0 14px 8px;
}

.brand-link {
  border-left: none !important; /* CHANGE THE BRAND TO A SEPERATE ITEM */
  font-size: 1.5rem;
  text-align: justify;
  font-weight: 550;
}

.brand-link:hover {
  border-left: none !important; /* CHANGE THE BRAND TO A SEPERATE ITEM */
  text-decoration: none;
  background-color: #1A1A1A !important;
}

#brand-item {

}

#tps-logo {
  width: 160px;
  height: 90px;
  padding-left: 20px;
}

.little-tps {
  font-size: 8pt;
  padding-right: 5px;
}

/* ICONS */

.fas {
  padding-right: 15px;
}

.fa-bell,
.fa-book,
.fa-calendar-alt,
.fa-user {
  padding-left: 6px;
}

.fa-sign-out-alt,
.fa-comment {
  padding-left: 4px;
}

#sidebar-user,
#sidebar-comments,
#sidebar-notifications,
#sidebar-teams,
#sidebar-grades,
#sidebar-calendar {
  position: absolute;
  left: 65px;
  padding-top: 5px;
}

#sidebar-sign-out {
  position: absolute;
  left: 55px;
  padding-top: 5px;
}

/* PROFILE PAGE */

.profile-row {
  position: sticky;
  left: 200px;
  min-width: 350px;
  height: 235px;
}

.profile-card {
  position: sticky;
  left: 200px;
  min-width: 350px;
  margin-top: -5px;
}

.main-screen {
  margin-left: 200px;
  padding: 0 10px;
  max-width: 88%;
  height: 100%;
}

.profile-card {
  padding-left: 30px;
  padding-top: 50px;
  display: inline-flex;
}

.profile-info {
  padding-left: 25px;
}

.profile-card img {
  width: 100px;
  height: 150px;
  border-radius: 10%;
  margin-bottom: 50px;
}

.profile-card h1 {
  padding-top: 10px;
}

/* FEED */

.user-feed {
  position: sticky;
  left: 200px;
  min-width: 350px;
}

.user-feed ul {
  list-style: none;
  margin-left: -37.5px;
}

.user-feed ul li {
  margin: 10px 0;
  border: 1px solid rgba(22, 22, 22, 0.2);
  font-size: 20px;
  padding-left: 10px;
  min-height: 50px;
  box-shadow: 3px 2px #CFCFCF;
  border-radius: 5px;
  transition: 0.3s;
}

.user-feed ul li:hover {
  background-color: rgba(185, 185, 185, 1);
  box-shadow: none;
}

/* SUPERVOSOR FEED */

.supervisor-feed {
  position: sticky;
  left: 200px;
  min-width: 350px;
}

.supervisor-feed ul {
  list-style: none;
  margin-left: -37.5px;
}

.supervisor-feed ul li {
  margin: 10px 0;
  border: 1px solid rgba(22, 22, 22, 0.2);
  font-size: 20px;
  padding-left: 10px;
  min-height: 50px;
  box-shadow: 3px 2px #CFCFCF;
  border-radius: 5px;
  transition: 0.3s;
}

.task-header {
  display: block;
}



.task-header p {
  margin-bottom: 1px;
}

.bold-span {
  font-weight: bold;
}

.content-separator {
  margin: 4px 10px 4px 0px;
  background-color: rgba(165, 165, 165, 0.2);
  border: 0.8px solid rgba(165, 165, 165, 0.2);
}

/*.content-text:after {*/
/*  content: "...";*/
/*}*/

.task-date {
  float: right;
  padding-right: 5px;
  padding-top: 2px;
  font-weight: 500;
}


.task-date-supervisor {
  float: right;
  padding-right: 10px;
  padding-top: 2px;
  font-weight: 500;
}

/* Teams */

.teams-course{
  /*float: right;*/
  padding-right: 5px;
  padding-top: 2px;
  font-weight: 500;
  text-align: center;
}

.teams-name{
  display: block;
  text-align: center;
}
.teams-content{
  display: block;
  text-align: center;
}


.your-active-tasks{
  padding-top: 1px;
}

.your-active-tasks-header{
  margin-bottom: 45px;
}

/* CALENDAR */

.user-calendar {
  min-width: 350px;
  position: sticky;
  left: 667.98px;
}

.calendar-header {
  text-align: center;
}

#calendar {
  margin-top: 10px;
  width: 911px;
  height: 82%;
}

#previous,
#next {
  position: sticky;
  top: 300px;
}

.table-bordered thead tr th {
  width: 130px;
}

/* MEDIA AND COMPATIBILITY */

@media only screen and (max-width: 1049px) {
  .col-sm-6 {
    position: sticky;
    left: 200px;
  }
}

@media only screen and (max-width: 575px) {
  #sidebar {
    visibility: hidden;
  }
}

/*****************************     TEAMS     *****************************/

/* ACCORDION */

.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
}

.active, .accordion:hover {
  background-color: #ccc;
}

.panel {
  padding: 0 18px;
  display: none;
  background-color: white;
  overflow: hidden;
}

/*****************************     LOGIN     *****************************/

.login-logo-container {
  justify-content: center;
  align-items: center;
  display: flex;
}

.login-trademark {
  text-align: center;
  font-size: 8pt;
  margin-top: 20px;
}

/*****************************     TEAM     *****************************/

.team-member-header {
  padding-bottom: 50px;
}

.team-accordion{
  padding-top: 4px;
}

.view-all-task-button{
  padding-left: 3px;
}

.vl {
  border-left: 2px solid rgba(165, 165, 165, 0.2);
  height: 50px;
  background-color: rgba(165, 165, 165, 0.2);
  float: right;
  text-align: right;
}

.disabled {
  pointer-events: none;
}

.task-info-table {
  border-collapse:separate;
  border-spacing: 0 7px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

/*****************************     SUPERVISOR     *****************************/

.supervisor-all-tasks {
  width: 100%;
}

.supervisor-all-tasks th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px 16px 8px 16px;
  background-color: #d1d1d1;
  position: sticky;
  position: -webkit-sticky;
  top: 112px;
  z-index: 2;
}

.supervisor-all-tasks td {
  border: 1px solid #dddddd;
  text-align: left;
}

.supervisor-task-operations {
  padding-left: 10px;
  padding-right: 10px;
  align-content: center;
}

.supervisor-all-tasks tr {
  min-height: 500px;
}

.supervisor-all-tasks tr:nth-child(even) {
  background-color: #eeeeee;
}

.all-tasks-search {
  background-color: #fff;
  height: 113px;
}

[data-title] {
  position: relative;
}

[data-title]:hover::before {
  content: attr(data-title);
  position: absolute;
  bottom: -26px;
  display: inline-block;
  padding: 3px 6px;
  border-radius: 2px;
  background: #000;
  color: #fff;
  font-size: 12px;
  font-family: sans-serif;
  white-space: nowrap;
}