body, div, p, td, li {
  font-family: "Roboto";
  font-weight: 300;
  font-size: 12pt;
}

body {
  overflow-y: scroll;
  /*transition:all 0.4s;*/
}

::-webkit-scrollbar {
  height: 4px;
  width: 4px;
  background: #1A1A1A;
}

::-webkit-scrollbar-thumb {
  background: #FF5722;
  -webkit-border-radius: 1ex;
  -webkit-box-shadow: 0px 1px 2px #1A1A1A;
}

::-webkit-scrollbar-corner {
  background: #FF5722;
}

/*.wrapper {*/
/*  margin: 100px 0;*/
/*}*/
.toggle_radio{
  position: relative;
  background: rgba(155,155,155,.1);
  margin: 4px auto;
  overflow: hidden;
  padding: 0 !important;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  position: relative;
  height: 31px;
  width: 438px;
}
.toggle_radio > * {
  float: left;
}
/*.toggle_radio > a {*/
/*  text-decoration: none;*/
/*}*/
.toggle_radio input[type=radio]{
  display: none;
  /*position: fixed;*/
}
.toggle_radio label{
  font: 90%/1.618 "Roboto";
  color: rgba(22,22,22,.9);
  display: block;
  width: 140px;
  height: 25px;
  margin: 3px 3px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  cursor: pointer;
  z-index: 1;
  /*background: rgba(0,0,0,.1);*/
  text-align: center;
  /*margin: 0 2px;*/
  /*background: blue;*/ /*make it blue*/
}
.toggle_option_slider{
  /*display: none;*/
  /*background: red;*/
  width: 140px;
  height: 25px;
  position: absolute;
  top: 3px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  -webkit-transition: all .4s ease;
  -moz-transition: all .4s ease;
  -o-transition: all .4s ease;
  -ms-transition: all .4s ease;
  transition: all .4s ease;
}

#first_toggle:checked ~ .toggle_option_slider{
  background: rgba(155,155,155,.3);
  left: 3px;
}
#second_toggle:checked ~ .toggle_option_slider{
  background: rgba(155,155,155,.3);
  left: 149px;
}
#third_toggle:checked ~ .toggle_option_slider{
  background: rgba(155,155,155,.3);
  left: 295px;
}

.tps-logo{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 175px;
}
.version-text{
  margin-top: 100px;
}

.views-link {
  text-decoration: none !important;
  color: #1A1A1A !important;
  display: block;
  padding: 8px 16px 8px 16px;
}

/*****************************     PROFILE     *****************************/

/* SIDEBAR */

#sidebar {
  position: fixed;
  left: 0;
  top: 0;
  width: 200px;
  background-color: #1A1A1A;
  color: #fff;
  transition: all 0.4s;
  height: 100%;
  overflow: hidden;
  z-index: 10;
}

.sidebar-toggle {
  padding: 4px 0 0 0;
  margin-left: -10px;
  z-index: 4;
}

#sidebar-collapse i {
 padding-left: 15px;
}

.sidebar-active {
  margin-left: -200px;
}

#sidebar .sidebar-header {
  padding: 20px;
  background: #1b1d24;
}

#sidebar ul {
  list-style: none;
  padding-left: 10px;
  margin-left: -10px;
}

#sidebar ul hr {
  background-color: rgba(255, 255, 255, 0.6);
  border-top: 2px solid rgba(255, 255, 255, 0.6);
}

#sidebar ul li a {
  color: aliceblue;
  display: inline-block;
  padding: 14px 0 14px 8px;
  align-items: center;
  width: 100%;
  height: 100%;
  border-left: 8px solid #1A1A1A;
  transition: 0.3s;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
  color: #fff;
  background: #1b1d24;
}

#sidebar ul li a:hover {
  background-color: #868686;
  border-left: 8px solid #FF5722;
}

.brand-link {
  border-left: none !important; /* CHANGE THE BRAND TO A SEPERATE ITEM */
  font-size: 1.5rem;
  text-align: justify;
  font-weight: 550;
}

.brand-link:hover {
  border-left: none !important; /* CHANGE THE BRAND TO A SEPERATE ITEM */
  text-decoration: none;
  background-color: #1A1A1A !important;
}

#tps-logo {
  width: 160px;
  height: 90px;
  padding-left: 20px;
}

.little-tps {
  font-size: 8pt;
  padding-right: 5px;
}

/* ICONS */

.fas {
  padding-right: 15px;
}

.fa-bell,
.fa-book,
.fa-calendar-alt,
.fa-sign-out-alt,
.fa-chart-bar,
.fa-list-ol,
.fa-user {
  padding-left: 6px;
}

.fa-comment {
  padding-left: 4px;
}

#sidebar-user,
#sidebar-notifications,
#sidebar-teams,
#sidebar-calendar,
#sidebar-data-analytics,
#sidebar-point-pool,
#sidebar-courses,
#sidebar-sign-out {
  position: absolute;
  left: 65px;
  padding-top: 5px;
}

/* PROFILE PAGE */

.main-screen {
  margin-left: 0;
  padding: 10px 20px 10px 220px;
  max-width: 100%;
  height: 100%;
  transition: all 0.4s;
}

.main-screen-active {
  padding-left: 20px;
  max-width: 100%;
  height: 100%;
  transition: all 0.4s;
}

.profile-card {
  padding-left: 30px;
  padding-top: 50px;
  display: inline-flex;
}

.profile-card-buttons {
  padding-left: 30px;
  padding-top: 50px;
  display: inline-flex;
}

  .profile-card-buttons a {
    margin-right: 10px;
  }

.profile-info {
  padding-left: 25px;
}

.profile-card img {
  width: 100px;
  height: 150px;
  border-radius: 10%;
  margin-bottom: 10px;
}

.profile-card h1 {
  padding-top: 10px;
}

.see-all-button {
  font-size: 1.2rem;
}

/* FEED */

.user-feed {
  min-width: 350px;
}

  .user-feed ul {
    list-style: none;
    margin-left: -37.5px;
  }

    .user-feed ul li {
      margin: 10px 0;
      border: 1px solid rgba(22, 22, 22, 0.2);
      font-size: 20px;
      padding-left: 10px;
      min-height: 50px;
      box-shadow: 2px 1px #CFCFCF;
      border-radius: 20px;
      transition: 0.3s;
      background-color: #fff;
    }

    .user-feed ul li:hover {
      background-color: rgba(185, 185, 185, 1);
      box-shadow: none;
      cursor: pointer;
    }

/* SUPERVOSOR FEED */

.supervisor-feed {
  position: sticky;
  left: 200px;
  min-width: 350px;
}

.supervisor-feed ul {
  list-style: none;
  margin-left: -37.5px;
}

.supervisor-feed ul li {
  margin: 10px 0;
  border: 1px solid rgba(22, 22, 22, 0.2);
  font-size: 20px;
  padding-left: 10px;
  min-height: 50px;
  box-shadow: 3px 2px #CFCFCF;
  border-radius: 5px;
  transition: 0.3s;
}

.task-header {
  display: block;
  padding-top: 5px;
}

.task-header p {
  margin-bottom: 1px;
}

.bold-span {
  font-weight: bold;
}

.content-separator {
  margin: 4px 10px 4px 0;
  background-color: rgba(165, 165, 165, 0.2);
  border: 0.8px solid rgba(165, 165, 165, 0.2);
}

.task-date {
  float: right;
  padding-right: 5px;
  padding-top: 5px;
  font-weight: 500;
}

.task-date-supervisor {
  float: right;
  padding-right: 10px;
  padding-top: 2px;
  font-weight: 500;
}

/* Teams */

.select-team-row {
  justify-content: center;
  align-items: center;
  padding-top: 60px;
  padding-bottom: 60px;
}

.team-column {
  border: 1px solid #cccccc;
  border-radius: 20px;
  background: #F8F8F8;
  padding: 5px 10px 0 10px;
  margin: 5px;
}

.teams-main-column {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.teams-course {
  /*float: right;*/
  padding-right: 5px;
  padding-top: 2px;
  font-weight: 500;
  text-align: center;
}

.teams-name {
  display: block;
  text-align: center;
}
.teams-content {
  display: block;
  text-align: center;
}

.notifications-main-row {
  justify-content: center;
  height: 100vh;
  padding-top: 50px;
}

/* CALENDAR */

#wrap {
  /*width: 200px;*/
  margin: 0 auto;
}

#external-events {
  float: left;
  width: 150px;
  padding: 0 10px;
  text-align: left;
}

#external-events h4 {
  font-size: 16px;
  margin-top: 0;
  padding-top: 1em;
}

.external-event { /* try to mimick the look of a real event */
  margin: 10px 0;
  padding: 2px 4px;
  background: #3366CC;
  color: #fff;
  font-size: .85em;
  cursor: pointer;
}

#external-events p {
  margin: 1.5em 0;
  font-size: 11px;
  color: #666;
}

#external-events p input {
  margin: 0;
  vertical-align: middle;
}

#calendar {
  background-color: #FFFFFF;
  border: 1px solid rgba(255, 87, 34, 0.5);
  border-radius: 6px;
}

.user-calendar {
  min-width: 620px;
}

.main-calendar {
  min-width: 620px;
  margin-top: 15px;
}

/* MEDIA AND COMPATIBILITY */

@media only screen and (max-width: 350px) {
  .user-feed {
    min-width: 300px;
  }
}

@media only screen and (max-width: 576px) {
  .profile-card-buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    padding: 0 !important;
    margin: 0 !important;
  }

    .profile-card-buttons a {
      margin-bottom: 10px;
    }


}

@media only screen and (max-width: 713px) {
  .user-calendar {
    display: none;
  }

  .team-dev-name {
    padding-top: 20px;
  }
}

@media only screen and (max-width: 800px) {
  #sidebar {
    margin-left: -200px;
  }

  .sidebar-active {
    margin-left: 0 !important;
  }

  .main-screen-active {
    margin-left: 220px !important;
  }

  .main-screen {
    padding-left: 20px;
  }

  .your-active-tasks-header {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .team-main-row .col-sm-6:last-child {
    margin-top: 0 !important;
  }
}

@media only screen and (max-width: 957px) {
  .main-calendar {
    margin-top: 40px;
  }

  .your-teams-active-tasks {
    padding-bottom: 0 !important;
  }
}

@media only screen and (max-width: 913px) {
  .team-main-row .col-sm-6:last-child {
    margin-top: 20px;
  }
}

@media only screen and (max-width: 1569px) {
  .team-active-task-buttons a {
    margin-bottom: 5px;
    display: flex;
    flex-direction: column;
  }

  .your-active-tasks-row {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .team-member-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .team-member-header .col-sm-4 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .rename-team-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

/*****************************     TEAMS     *****************************/

/* ACCORDION */

.accordion {
  background-color: #ddd;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  border-radius: 20px;
  text-align: left;
  outline: none;
  font-size: 15px;
}

.accordion:before {
   font-family: "Font Awesome 5 Free";
   content: "\f078";
   display: inline-block;
   padding-right: 8px;
   vertical-align: middle;
   font-weight: 900;
}

.active, .accordion:hover {
  background-color: #ccc;
}

.panel {
  padding: 0 18px;
  display: none;
  background-color: white;
  overflow: hidden;
}

/*****************************     LOGIN     *****************************/

.login-logo-container {
  justify-content: center;
  align-items: center;
  display: flex;
}

.login-trademark {
  text-align: center;
  font-size: 8pt;
  margin-top: 20px;
}

/*****************************     TEAM     *****************************/

.team-accordion {
  padding-top: 4px;
}

.view-all-task-button {
  padding-left: 3px;
}

.vl {
  border-left: 2px solid #cccccc;
  height: 30px;
  margin-bottom: 5px;
  text-align: center;
}

.difference-edit-connection-line {
  display: flex;
  align-items: center;
  justify-content: center;
}

.disabled {
  pointer-events: none;
}

.view-task-main-column {
  padding: 30px 20px;
}

.task-status-bar {
  justify-content: center;
  align-items: center;
  margin-left: 100px;
  margin-right: 100px;
}

.task-and-team-name {
  border: 1px solid #cccccc;
  border-radius: 20px;
  background: #F6F6F6;
  padding: 10px 5px 5px 5px;
}

.task-details-card {
  border: 1px solid #cccccc;
  border-radius: 20px;
  background: #F6F6F6;
  padding: 5px;
}

.task-info-table {
  border-collapse: separate;
  border-spacing: 0 7px;
}

.task-detail-buttons {
  margin-left: 20px;
  padding: 5px 0;
}

.task-detail-buttons button {
  margin-right: 10px;
}

.alert-messages {
  align-items: center;
  justify-content: center;
}

.task-buttons {
  border: 1px solid #cccccc;
  border-radius: 20px;
  background: #F6F6F6;
  padding: 10px 5px;
  justify-content: center;
  align-items: center;
}

  .task-buttons a {
    margin-left: 10px;
    margin-right: 10px;
  }

.task-additional-details {
  border: 1px solid #cccccc;
  border-radius: 20px;
  background: #F6F6F6;
  padding: 20px;
  display: none;
}

.task-history {
  border: 1px solid #cccccc;
  border-radius: 20px;
  background: #F6F6F6;
  padding: 20px;
  display: none;
}

.task-history-element {
  border: 1px solid #cccccc;
  border-radius: 20px;
  background: #FFF;
  padding: 15px 5px 0 5px;
}

.task-history .task-history-element:last-child {
  margin-bottom: -10px;
}

.task-comment-form {
  border: 1px solid #cccccc;
  border-radius: 20px;
  background: #F6F6F6;
  padding: 10px;
  display: block;
}

.final-answer-checkbox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
}

.task-comments {
  border: 1px solid #cccccc;
  border-radius: 20px;
  background: #F6F6F6;
  padding: 5px;
  display: block;
}

.final-answer-comment {
  border: 1px solid #28a745;
}

.list-group-item {
  border: 1px solid #cccccc;
  border-radius: 20px !important;
  margin-bottom: 10px;
}

  .list-group:last-child {
    margin-bottom: -10px;
  }

.mg-t-10 {
  margin-top: 10px;
}

.mg-b-10 {
  margin-bottom: 10px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

/*****************************     SUPERVISOR     *****************************/

.supervisor-all-tasks {
  width: 100%;
}

.supervisor-all-tasks th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px 16px 8px 16px;
  background-color: #d1d1d1;
  top: 112px;
  z-index: 2;
}

.supervisor-all-tasks td {
  border: 1px solid #dddddd;
  text-align: left;
}

.supervisor-task-operations {
  padding-left: 10px;
  padding-right: 10px;
  align-content: center;
}

.supervisor-all-tasks tr {
  min-height: 500px;
}

.supervisor-all-tasks tr:nth-child(even) {
  background-color: #eeeeee;
}


[data-title] {
  position: relative;
}

[data-title]:hover::before {
  content: attr(data-title);
  position: absolute;
  bottom: -26px;
  display: inline-block;
  padding: 3px 6px;
  border-radius: 2px;
  background: #000;
  color: #fff;
  font-size: 12px;
  font-family: sans-serif;
  white-space: nowrap;
}

.no-style-links a {
  color: inherit;
  text-decoration: none;
}

.data-analytics {
  min-width: 350px;
  margin: 10px 20px;
  border: 1px solid rgba(22, 22, 22, 0.2);
  font-size: 20px;
  padding-left: 10px;
  min-height: 50px;
  box-shadow: 3px 2px #CFCFCF;
  border-radius: 5px;
  transition: 0.3s;
}

.data-analytics img{
  margin-top: 10px;
  width: 316px;
  height: 130px;
  border-radius: 5px;
  margin-left: 5px;
}

.data-analytics li{
  padding-right: 10px;
}
.data-analytics ul {
  list-style: none;
  margin-left: -37.5px;
}

.data-analytics:hover {
  background-color: rgba(185, 185, 185, 1);
  box-shadow: none;
}

.course-button{
  padding: 0;
  border: none;
  background: none;
}

.account-settings-row {
  align-items: center;
  justify-content: center;
  padding-top: 50px;
}

.your-teams-active-tasks {
  padding-bottom: 38px;
}

.mg-t-minus-5 {
  margin-top: -5px;
}

.task-form-column {
  padding: 50px 0 0 20px;
}

.text-right {
  text-align: right;
}

.pad-4 {
  padding: 4px;
}

.supervisor-all-tasks-row {
  justify-content: center;
  align-items: center;
  padding-top: 40px;
}

.milestone-course-list{
  margin-top: 50px;
}

.team-main-row {
  padding-top: 30px;
}

.team-dev-name {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pad-b-10 {
  padding-bottom: 10px;
}

.team-and-developer-points {
  padding-top: 40px;
}

.team-and-developer-points .user-feed ul li {
  align-items: center;
  display: flex;
}

.team-and-developer-points .user-feed ul li:hover {
  background-color: #fff;
  box-shadow: 2px 1px #CFCFCF;
  cursor: default;
}

.task-all-row {
  padding-top: 40px;
}

.pd-r-10 {
  padding-right: 10px;
}

.pd-l-10 {
  padding-left: 10px;
}